{#// 加载头部公共文件 #}
{#include file="Manage@Public/header" /#}
<!-- 主页面开始 -->
<div id="main" class="main" >
<!-- 主体内容  -->
<div class="content" >
<div class="title">{#$pageName#} <a href="{#:U('UserExp/updateCache')#}">更新缓存</a></div>
<!--  功能操作区域  -->
<div class="operate">
    {#html:imageBtn name="add" value="新增" class="btadd" style="impBtn hMargin fLeft shadow" /#}
    {#html:imageBtn name="edit" value="编辑" class="btedit" style="impBtn hMargin fLeft shadow" /#}
    {#html:imageBtn name="delete" value="删除" class="btdelete" style="impBtn hMargin fLeft shadow" /#}
    {#html:imageBtn name="revert" value="刷新" class="btflush" style="impBtn hMargin fLeft shadow" /#}
</div>
<!-- 功能操作区域结束 -->

<!-- 列表显示区域  -->
<div class="list" >
<div id="result" class="result none"></div>
<!-- Think 系统列表组件开始 -->
<table id="checkList" class="list" cellpadding="5" cellspacing="0" border="1">
    <tr><td height="5" colspan="11" class="topTd" ></td></tr>
    <tr class="row" >
        <th width="8"><input type="checkbox" id="CheckAll" tag="checkList"></th>
        <th width="10%">编号</th>
        <th>任务名称标记</th>
        <th>认证教师对应经验点值</th>
        <th>非认证教师对应经验点值</th>
        <th>任务标记说明</th>
        <th>任务次数</th>
        <th>操作</th>
    </tr>
    {#volist name="typeArray" id="node" #}
        <tr class="row lists" jl=''>
        <td><input type="checkbox" class="key" value="{#$node.ExpID#}"></td>
        <td>{#$node.ExpID#}</td>
        <td><a href="#" class="btedit" thisid="{#$node.ExpID#}">{#$node.ExpName#}</a></td>
        <td>{#$node.ExpAuthPoint#}</td>
        <td>{#$node.ExpPoint#}</td>
        <td>{#$node.ExpDesc#}</td>
        <td>{#if condition="$node.ExpTime eq '0'"#}一次性{#elseif condition="$node.ExpTime eq '1'" /#}每天一次{#elseif condition="$node.ExpTime eq '2'"/#}每天多次{#/if#}</td>
        <td><a href="#" class="btedit" thisid="{#$node.ExpID#}">编辑</a>&nbsp;</td>
        </tr>
    {#/volist#}
    <tr><td height="5" colspan="11" class="bottomTd"></td></tr>
</table>
<!-- Think 系统列表组件结束 -->
</div>
<!-- 列表显示区域结束 -->
</div>
<!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
{#// 加载尾部公共文件 #}
{#include file="Manage@Public/ends" /#}