<style>
    .top{
        height: 25px;
        line-height: 25px;
        width: 600px;
        padding: 0px;
        margin: 0px 0px 5px 0px;

    }
    .top  li{
        height: 25px;
        line-height: 25px;
        list-style: none;
        background: #C3E1F2;
        border: 1px solid #808080;
        float: left;
        margin-right: 5px;
        padding-left: 10px; 
        padding-right: 10px; 
        font-weight: bold;
        color: #444444;
    }
</style>
    <ul class='top'>
        <li><a href="{#:U('TjExam/index')#}">考试</a></li>
        <li><a href="{#:U('TjExamClass/index')#}">学校</a></li>
        <li><a href="{#:U('TjClass/index')#}">班级</a></li>
        <li><a href="{#:U('TjTeacher/index')#}">教师</a></li>
        <li><a href="{#:U('TjStudent/index')#}">学生</a></li>
        <li><a href="{#:U('TjTestRecord/index')#}">考试记录</a></li>
    </ul>