{#// 加载头部公共文件 #}
{#include file="Public/header" /#}
<!-- 主页面开始 -->
<div id="main" class="main" >
    <!-- 主体内容  -->
    <div class="content" >
        <div class="title">{#$pageName#}</div>
        <!--  功能操作区域  -->
        <div class="operate">
            {#html:imageBtn name="revert" value="刷新" class="btflush" style="impBtn hMargin fLeft shadow" /#}
            <!-- 查询区域 -->
            <form id="form1" method="POST" acTion="{#:U('Teacher/CustomCheck/index')#}">
                <div class="fRig">
                    <div class="fLeft"><span id="key"><input id="name" type="text" name="TestID" value="{#$Think.request.name#}" placeholder="用户名查询" title="用户名查询" class="medium" ></span></div>
                    {#html:imageBtn type="submit" name="search" value="查询" style="impBtn hMargin fLeft shadow" /#}
                    {#html:imageBtn name="adv" value="高级" id="showText" style="impBtn hMargin fLeft shadow" /#}
                </div>
                <!-- 高级查询区域 -->
                <div id="searchM" class=" none search cBoth">
                    <table border="0" cellpadding="1" cellspacing="3" width="100%">
                        <tr>
                            <td class="tRight" width="80">试题状态：</TD>
                            <td>
                                <select class="medium bLeft" name="Status">
                                    <option value="">选择</option>
                                    {#volist name='testStatus' id='vo' #}
                                    <option value="{#$key#}">{#$vo#}</option>
                                    {#/volist#}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <!-- 功能操作区域结束 -->
        <!-- 列表显示区域  -->
        <div class="list" >
            <div id="result" class="result none"></div>
            <!-- Think 系统列表组件开始 -->
            <table id="checkList" class="list" cellpadding="5" cellspacing="0" border="1">
                <tr><td height="5" colspan="13" class="topTd" ></td></tr>
                <tr class="row" >
                    <th width="75">试题编号</th>
                    <th width="80">试题添加时间</th>
                    <th width="80">任务领取时间</th>
                    <th width="80">试题作者</th>
                    <th width="80">任务完成人</th>
                    <th width='80'>任务返回次数</th>
                    <th width='80'>是否删除</th>
                    <th width="80">是否锁定</th>
                    <th width='80'>是否库内题</th>
                    <th width='150'>需要删除试题描述</th>
                    <th width="120">状态</th>
                    <th width="70">操作</th>
                </tr>
                {#volist name="list" id="node" #}
                <tr class="row lists" jl=''>
                    <td>{#$node.TestID#}</td>
                    <td>{#$node.AddTime|date="Y-m-d H:i",####}</td>
                    <td>{#$node.TaskTime|date="Y-m-d H:i",####}</td>
                    <td>{#$node.TestAuthorRealName#}（{#$node.TestAuthorName#}）</td>
                    <td>{#$node.TaskRealName#}（{#$node.TaskUserName#}）</td>
                    <td>{#$node.BackTimes#}</td>
                    <td>{#if condition="$node.IfDel eq 1"#}是{#else/#}否{#/if#}</td>
                    <td>{#if condition="$node.IfLock eq 1"#}是{#else/#}否{#/if#}</td>
                    <td>{#if condition="$node.IfIntro neq 0"#}是{#else/#}否{#/if#}</td>
                    <td>{#$node.ErrorMsg#}</td>
                    <td>{#$node.StatusName#}</td>
                    <td>{#if condition="$node.Status eq 1"#}<a href="{#:U('Teacher/CustomCheck/checkWork', array('statusID'=>$node['StatusID']))#}">审核</a>
                        {#else/#}<span style="color:#ccc">审核</span><br />{#/if#}</td>
                </tr>
                {#/volist#}
                <tr><td height="5" colspan="13" class="bottomTd"></td></tr>
            </table>
            <!-- Think 系统列表组件结束 -->
        </div>
        <!--  分页显示区域 -->
        <div class="page">{#$page#}</div>
        <!-- 列表显示区域结束 -->
    </div>
    <!-- 主体内容结束 -->
</div>

<!-- 主页面结束 -->
{#// 加载尾部公共文件 #}
{#include file="Public/ends" /#}
