<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>题库原创试卷协同命制平台</title>
    <meta name="keywords" content="原创试卷,协同命制,题库"/>
    <meta name="description" content="题库原创试卷协同命制平台,无论您是全国各省市各级教研室及考试中心研究员，是具有命题经验的一线教师，还是无命题经验但有原创试题意向的一线教学工作者，都可参与。（注：参与需登录万方题库云平台，注册并完善个人信息。） "/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="__PUBLIC__/index/css/wln-base.css{#$Think.config.WLN_UPDATE_FILE_DATE#}"/>
    <link rel="stylesheet" href="__PUBLIC__/index/css/style.css{#$Think.config.WLN_UPDATE_FILE_DATE#}"/>
    <link rel="stylesheet" href="__PUBLIC__/index/css/ptstyle.css{#$Think.config.WLN_UPDATE_FILE_DATE#}">
    <script src="__PUBLIC__/plugin/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/plugin/json2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery.cookie.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
    <script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
    <script src="__PUBLIC__/index/js/wlnBase.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
    <script src="__PUBLIC__/index/js/pingtai.js{#$Think.config.WLN_UPDATE_FILE_DATE#}" type="text/javascript"></script>
</head>
<body>
<div class="top-bg">
    <div class="header">
        <div class="logo">
            <img src="__PUBLIC__/index/imgs/orginality-logo.png" alt=""></div>
        <div class="login-box">{#$username#}</div>
    </div>
</div>
<div class="subject-wrap">
    <div id="xueke">
        <!-- javascript:window.parent.location.href = url+this.value; -->
        <select name="subject" class="choose" onChange="javascript:getSubject(this.value);">
            {#foreach name="subject" item="sj"#}
            <option value="{#$sj.SubjectID#}" {#if condition="$sj['SubjectID'] eq $SubjectID" #} selected="selected" {#/if#}>{#$sj.SubjectName#}</option>
            {#/foreach#}
        </select>
    </div>
    <div id="fenlei">
        <select name="docType" class="choose">
            {#foreach name="docType" item="dt"#}
            <option value="{#$dt.TypeID#}" selected="selected">{#$dt.TypeName#}</option>
            {#/foreach#}
        </select>
    </div>
    <div class="countdown">
        <div class="content">
            <input type="text" id="time_d" readonly>
            天
            <input type="text" id="time_h" readonly>
            时
            <input type="text" id="time_m" readonly>
            分
            <input type="text" id="time_s" readonly>秒
        </div>
    </div>
</div>
<div class="main-con" id="outlineDiv">
    <div class="text-content outline">
        <div class="title"><b>查看全部</b>
            协同原创试卷写作说明
        </div>
        <div class="foldContent">

            <div class="text-box">
                <h5>参与资格</h5>

                <p>
                    无论您是全国各省市各级教研室及考试中心研究员，是具有命题经验的一线教师，还是无命题经验但有原创试题意向的一线教学工作者，都可参与。（注：参与需登录万方题库云平台，注册并完善个人信息。）
                </p>
            </div>
            <div class="text-box">
                <h5>命题要求</h5>
                <ul>
                    <li>
                        1.&nbsp;&nbsp;试题要保证高度新颖，要求100%原创。原创题要做到在题库平台题库内找不到，在Google或Baidu等网站上搜不到，以及在其他资料里查不到。不能出现抄袭现象。
                    </li>
                    <li>2.&nbsp;&nbsp;试题上传后，不能用作其他用途，请注意保密。</li>
                    <li>
                        3.&nbsp;&nbsp;命题时严格依据本学科课程标准和最新高考考试大纲，反映新课程高考特征，试题不能超出高考考试大纲规定的范围。
                    </li>
                    <li>4.&nbsp;&nbsp;题目要紧扣本学科的主干知识与核心概念，难易有度，命制形式和角度具备高考试卷的特色。</li>
                    <li>
                        5.&nbsp;&nbsp;所选材料要准确、权威。非选择题的材料长度要适中，必须加上材料出处。图片材料要求像素在600以上，图内文字清晰等。材料与设问的要求关联性强，严禁出现材料和设问“两张皮”的现象。
                        <p>&nbsp;&nbsp;（1）形似高考。即考查项目齐全，分项数量接近；</p>

                        <p>&nbsp;&nbsp;（2）神似高考。即考查思维为先，能力要求接近；</p>

                        <p>&nbsp;&nbsp;（3）材似高考。即体裁题材新颖，材料原汁原味。</p>
                    </li>
                </ul>
            </div>
            <div class="text-box">
                <h5>解析要求</h5>

                <p>解析包括两部分：解析试题+命题意图。</p>

                <p>
                    1.&nbsp;&nbsp;解析试题：试题解析要详细，每个试题都必须有详细的解答过程或者必要的解题思路。
                    <br/>
                    &nbsp;&nbsp;（1）选择题：逐项解析，但形式要灵活，可融入图解、表格等多种解析方式，突出巧解、一题多解的解题方法。
                    <br/>
                    &nbsp;&nbsp;（2）非选择题：逐问分析，根据学科，给出每问或每步的得分细则。
                </p>

                <p>
                    2.&nbsp;&nbsp;命题意图
                    <br/>
                    请从命题人的角度，以第一人称对试题进行分析，描述该题的命制理由及命制过程。要求包括如下但不仅限于以下的信息：本题包含的知识要点、思想方法等；该题的创制过程中的思路、想法、改进过程以及背景素材等；解题过程中的难点、突破口以及易错之处等。
                    <br/>
                    例如，我命制该题经过几次修改，主要想考查学生哪些能力，我设置的解题陷阱是什么，我认为本题学生易犯错的点是什么，该类知识点还能有哪些出题方式，还能联系哪些知识综合考查等。
                </p>

            </div>

        </div>
    </div>
    <div class="test-con">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
            <thead class="thead-tr">
            <tr>
                <th>题号</th>
                <th>题型</th>
                <th>主干知识点</th>
                <th>分值</th>
                <th width="83px">正答率预估</th>
                <th width="180px">加入原创</th>
            </tr>
            </thead>
            <tbody>
            {#if condition="count($tplInfo) eq 0"#}
            <tr>
                <td colspan="6" align="center">暂无数据</td>
            </tr>
            {#else/#}
            {#foreach name="tplInfo" item="info"#}
            <tr>
                <th rowspan="2" class="text-title">{#$info.tihao#}</th>
                <td>{#$info.typeName#}</td>
                <td class="text-l">{#$info.klName.klName|default="暂无相关知识点"#}</td>
                <td>{#$info.ScoreSting#}</td>

                <td>{#$info.awarenessPercent#}</td>
                <td class="join">{#$info.UserNum#}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="author">
                        <div class="more">更多</div>
                        <ul class="list-show">
                            {#foreach name="info.UserName" item="un"#}
                            {#$un#}
                            {#/foreach#}
                        </ul>
                    </div>
                </td>
            </tr>
            {#/foreach#}
            {#/if#}
            </tbody>
        </table>
    </div>
</div>
<!--<div class="jiang">-->
<!--<img src="__PUBLIC__/index/imgs/jiang.jpg" alt="原创奖励"></div>-->
<!--<div class="flow">-->
<!--<img src="__PUBLIC__/index/imgs/flow.jpg" alt="第一批原创流程"></div>-->
<div class="main-con">
<div class="text-content review">
    <div class="title">模式及评定标准</div>
    <div class="nrContent">
        <div class="text-box">
            <ul>
                <li>
                    1.&nbsp;&nbsp;创作模式：采用单题原创的方式，碎片化创作，每位教师可以参与一道或者多道试题的命制，协同完成整套试卷命制工作。
                </li>
                <li>
                    2.&nbsp;&nbsp;试题要求一次成型，无拉锯式修改，符合要求则选用，否则不采用。未选用的试题，作者可再次修改，下次再传。
                </li>
                <li>
                    3.&nbsp;&nbsp;评定标准：
                    <p>
                        （1）选用标准：材料与实际生活联系紧密、命题角度新颖，形式灵活，设问巧妙，能体现对某个知识点及相关知识点的系统考查，反映新课标高考特征。试题“形”“神”“材”都高度匹配高考真题。（1个名额，收录试题）。
                    </p>

                    <p>
                        （2）入围标准（待选）：命题角度新颖,形式灵活，设问科学，能体现对某个知识点及相关知识点的系统考查，解析到位。（3个名额，收录试题）
                    </p>

                    <p>（3）参与标准（通过审核）：试题没有知识漏洞，能体现对设定知识点的综合考查。（不限名额，收录试题）</p>
                </li>

                <li>4.稿酬发放:签订写作协议，审核通过后三个月内按题型标准结算稿酬。</li>
            </ul>
        </div>

    </div>
</div>
<div class="remuneration test-con subject-chinese subject12">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">

        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="8">语文</td>
            <td>现代文阅读</td>
            <td>50</td>
            <td>100</td>
            <td>250</td>
        </tr>
        <tr>
            <td>文言文阅读</td>
            <td>80</td>
            <td>160</td>
            <td>400</td>
        </tr>
        <tr>
            <td>古代诗歌阅读</td>
            <td>60</td>
            <td>100</td>
            <td>200</td>
        </tr>
        <tr>
            <td>名篇名句默写</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>文学类文本阅读</td>
            <td>50</td>
            <td>100</td>
            <td>250</td>
        </tr>
        <tr>
            <td>实用类文本阅读</td>
            <td>50</td>
            <td>100</td>
            <td>250</td>
        </tr>
        <tr>
            <td>语言文字运用</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>作文</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
    </table>

    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            语文群：480665723（QQ），电话：0371-55151024。
        </p>

    </div>

</div>

<div class="remuneration test-con subject-mathematics subject13">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">

        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">数学</td>
            <td>选择题\填空题</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>解答题</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
    </table>

    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            数学群：171341208（QQ），电话：0371-55151024。
        </p>

    </div>

</div>

<div class="remuneration test-con subject-english subject14">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">

        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题或篇
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题或篇
            <th>
                选用标准
                <br/>
                单位：元/题或篇
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="7">英语</td>
            <td>听力</td>
            <td>2.5</td>
            <td>5</td>
            <td>12.5</td>
        </tr>
        <tr>
            <td>阅读理解</td>
            <td>40</td>
            <td>80</td>
            <td>200</td>
        </tr>
        <tr>
            <td>七选五</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
        <tr>
            <td>完形填空</td>
            <td>40</td>
            <td>80</td>
            <td>200</td>
        </tr>
        <tr>
            <td>语法填空</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
        <tr>
            <td>短文改错</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
        <tr>
            <td>书面表达</td>
            <td>40</td>
            <td>80</td>
            <td>200</td>
        </tr>
    </table>

    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            英语群：470410588（QQ），电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-physics subject15">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">物理</td>
            <td>选择题</td>
            <td>15</td>
            <td>30</td>
            <td>75</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            物理群：480921407（QQ），电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-chemistry subject16">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">化学</td>
            <td>选择题</td>
            <td>12</td>
            <td>24</td>
            <td>60</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>30</td>
            <td>60</td>
            <td>150</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            化学群：481194312（QQ)，电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-biology subject17">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">生物</td>
            <td>选择题</td>
            <td>9</td>
            <td>18</td>
            <td>44</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>22</td>
            <td>45</td>
            <td>120</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            生物群：391078624（QQ），电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-politics subject18">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">政治</td>
            <td>选择题</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>20</td>
            <td>40</td>
            <td>100</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            政治群：249578345（QQ)，电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-history subject19">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">历史</td>
            <td>选择题</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>20</td>
            <td>40</td>
            <td>100</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            历史群：431318640（QQ)，电话：0371-55151024。
        </p>

    </div>

</div>
<div class="remuneration test-con subject-geography subject20">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-bordered">
        <caption>稿酬标准</caption>
        <thead class="thead-tr">
        <tr>
            <th>学科</th>
            <th>题型</th>
            <th>
                参与标准（通过审核）
                <br/>
                单位：元/题
            </th>
            <th>
                入围标准（待选）
                <br/>
                单位：元/题
            </th>
            <th>
                选用标准
                <br/>
                单位：元/题
            </th>
        </tr>
        </thead>
        <tr>
            <td rowspan="2">地理</td>
            <td>选择题</td>
            <td>10</td>
            <td>20</td>
            <td>50</td>
        </tr>
        <tr>
            <td>非选择题</td>
            <td>20</td>
            <td>40</td>
            <td>100</td>
        </tr>
    </table>
    <div class="text-box">
        <p class="tit">如有其他疑问，请与我们联系！</p>

        <p>
            地理群：474324171（QQ)，电话：0371-55151024。
        </p>

    </div>

</div>
</div>

<div class="footer">
    <div class="footer-box">
        © 2017 万方题库云平台 All rights reserved | 增值电信业务经营许可证：
        <a href="http://www.miitbeian.gov.cn/">{#$Think.config.WLN_KEEP_VERSION#}</a>
        |
        <a class="anbei" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41019702002013">豫公网安备 41019702002013号</a>
    </div>
</div>
<!--<form id='appendTestForm' action='__APP__/Home-Index-main' method='post'>-->
<!--<input type='hidden' name="TTID" id='param_ttid'/>-->
<!--<input type='hidden' name="TypesID" id='param_typeid' />-->
<!--<input type='hidden' name="klId" id='param_klid' />-->
<!--<input type='hidden' name="Diff" id='param_diff' />-->
<!--<input type='hidden' name="loadMode" value="originality"/>-->
<!--</form>-->

<script type="text/javascript">
    $(function () {
        show_time({#$endTime#});
    $.orginality.init();
    });
    var subjectid = "{#$SubjectID#}";
    $('.subject' + subjectid).show();

    function show_time(time) {
        var time_start = new Date().getTime() / 1000; //设定当前时间
        var time_end = time;
        // 计算时间差
        var time_distance = time_end - time_start;
        if (time_distance < 0) {
            $("#time_d").val('00');
            $("#time_h").val('00');
            $("#time_m").val('00');
            $("#time_s").val('00');
            return;
        }
        var hour = 60*60;

        var day = 60*60*24;
        // 天
        var int_day = Math.floor(time_distance / day)
        time_distance -= int_day * day;
        // 时
        var int_hour = Math.floor(time_distance / hour)
        time_distance -= int_hour * hour;
        // 分
        var int_minute = Math.floor(time_distance / 60)
        time_distance -= int_minute * 60;
        // 秒
        var int_second = Math.floor(time_distance)

        // 显示时间
        $("#time_d").val(int_day.toString().length == 2 ? int_day : '0'+int_day);
        $("#time_h").val(int_hour.toString().length == 2 ? int_hour : '0'+int_hour);
        $("#time_m").val(int_minute.toString().length == 2 ? int_minute : '0'+int_minute);
        $("#time_s").val(int_second.toString().length == 2 ? int_second : '0'+int_second);
        // 设置定时器
        setTimeout("show_time(" + time + ")", 1000);
    }
    function getSubject(id) {
        Cookie.Set("SubjectId", id, 0.05);
        document.location.href = U('Yc/Originality/originality?SubjectID=' + id+'&r='+Math.random());
    }
    function hasLogin(clicked) {
        var that = clicked;
        $.post(U("Yc/Originality/originalityCheck"), {'tid': that.attr('tid')}, function (result) {
            if ('success' != result) {
                alert('该活动已经过期或者已经进入审核状态，不能再添加试题');
                return false;
            }
            if (!subjectid) {
                alert('请先选择所在学科！');
                return false;
            }
            //写入本地cookie原创题创作信息
            var cookieOriginality = {
                'ttID': that.attr('ttid'),
                'typeID': that.attr('typeid'),
                'klID': that.attr('klid'),
                'diff': that.attr('diff')
            };
            Cookie.Set('user_ORIGINALITY', JSON.stringify(cookieOriginality), 0.05);
            location.href = U('Home/Index/main?u=_Custom_CustomTestStore_customNav');
        })
    }
    $('.logo').click(function () {
        location.href = '/';
    });
    $('#needLogin').click(function () {
        $.indexCommon.loginCallBack = function (status) {
            if (status == 1) {
                window.location.href = U('/Yc','',false);
            }
        };
        $.indexCommon.baseLogin();
    });
    $(document).on('click', '.join a', function () {
        var clicked = $(this);
        $.get(U("Home/Base/isLoginCheck"), function (result) {
            if (result['data'] != 'success') {
                $.indexCommon.loginCallBack = function (status) {
                    if (status == 1) {
                        hasLogin(clicked);
                    }
                };
                $.indexCommon.baseLogin();
            } else {
                hasLogin(clicked);
            }
        });
    });
</script>
<script type="text/javascript" src="__PUBLIC__/plugin/png.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
<script>DD_belatedPNG.fix('*'); </script>
</body>
</html>