<div class="footer">
    <p class="footer-nav">
        <a href="{#:U('About/knowMe',array('param'=>'knowMeIntro'))#}" target="_blank">关于我们</a>
        <a href="{#:U('About/knowMe',array('param'=>'aboutPrivacy'))#}" target="_blank">隐私条款</a>
        <a href="{#:U('About/knowMe',array('param'=>'aboutRecruit'))#}" target="_blank">人才招聘</a>
        <a href="{#:U('About/leaveMess'))#}">留言反馈</a>
        <a href="{#:U('About/knowMe',array('param'=>'aboutFriendLinkl'))#}" target="_blank">友情链接</a>
        <a href="{#:U('About/knowMe',array('param'=>'aboutOnlineS'))#}" target="_blank">联系我们</a>
        <a href="http://www.51.la/?17251027" target="_blank" title="51.La 网站流量统计系统">网站统计</a>
    </p>
    <p class="copyright">
        <cite>©</cite>
        2017 智慧云题库云平台
        <br/>
        All rights reserved
    </p>
</div>