<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <title>{#$info.Title#} - 任务大厅  - {#$config.IndexName#}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{#$info.Title#}" />
    <meta name="description" content="{#$info.Title#}，{#$config.Description#}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link type="text/css" href="__PUBLIC__/index/css/wln-base.css" rel="stylesheet" />
    <link type="text/css" href="__PUBLIC__/index/css/task.css" rel="stylesheet" />
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js"></script>
</head>
<body class="bg-white">
    <!--首页头部-->
    {#include file="Index@Common/top" /#}
    <!--首页头部-end-->
    <!-- 面包屑导航 -->
    <div class="w1000 crumbs-wrap">
        <div class="g-crumbs">
            <b class="now-path">当前位置：</b>
            <a href="/">首页</a> >
            <a href="{#:U('/Task','',false)#}">任务大厅</a> >
            <span>{#$info.Title#}</span>

        </div>
    </div>
    <!-- 面包屑导航 end-->
        <!-- 任务大厅 -->
    <!--任务描述-->
<div class="w1000">
    <div class="task-info-container clearfix">
        <div class="task-info-img">
            <img src="{#$info.Img#}" alt="题库任务奖励" />
        </div>
        <div class="task-info-intro">
            <h1 class="ti-title">{#$info.Title#}</h1>
            <div class="ti-handle">
                <div class="ti-status">
                    <span class="ti-reward">
                        {#$info.RewardType#}： <b>{#$info.Reward#}</b>
                    </span>
                    <span class="ti-statistics">
                        <span class="ti-people-num"> <i class="iconfont">&#xe630;</i>
                            {#$info.personNum#}人
                        </span>
                        <span class="ti-day-num"> <i class="iconfont">&#xe628;</i>
                            {#$info.EndTime#}&nbsp;&nbsp;({#$info.subjectName#}&nbsp;{#$info.levelName#}&nbsp;)
                        </span>
                    </span>
                    <div class="ti-join">
                        {#if condition='$isReceived nheq true'#}
                        <a href="javascript:void(0);" class="nor-btn grey-btn" style='background-color:#ccc; border:1px solid #ccc; color:#666;'>{#$isReceived#}</a>
                    {#else/#}
                    <a href="javascript:join();" class="nor-btn blue-btn" id='btn'>立即参加</a>
                    {#/if#}
                    </div>
                </div>
            </div>
        </div>
        <div class="task-info-top-handle">
            <a class="back link" href="{#:U('/Task','',false)#}">返回任务大厅</a>
            <a href="javascript:;" class="ti-show-more link" id="showMore">任务详情<i class="iconfont">&#xe617;</i></a>
        </div>
    </div>

    <div class="ti-context-container hidden">
        <div class="ti-context">
            <div class="ti-context-inner">{#$info.Description#}</div>
        </div>
    </div>
</div>
<!--参加任务列表-->
<div class="w1000">
    <div class="task-tab-container">
        <div class="task-tab-hd">
            <ul>
                <li class="on">参与列表</li>
            </ul>
        </div>
        <div class="task-tab-bd">
            <div class="tt-bd-container">
                <div class="tt-bd-list">
                    {#$page#}
                </div>
            </div>
        </div>
    </div>
</div>
<!--参加任务列表-end-->
    <!-- 任务大厅-end-->
    <!--footer-->
            <script type="text/javascript">
                $(document).ready(function(){
                    $('.tt-bd-list a').live('click', function(){
                        $.get($(this).attr('href'), function(data){
                            if(data) $('.tt-bd-list').eq(status-1).html(data);
                        });
                        return false;
                    });
                    /* $.get(U('MissionHall/taskRecordsAjax?MHTID={#$info.MHTID#}'), function(data){
                        if(data){
                            $('.tt-bd-list').html(data);
                        }
                    },'html'); */

                    var context = $(".ti-context-container");

                     // 查看任务详情
                    $('#showMore').live('click', function(){
                        var that = $(this);

                        $(".ti-context-container").toggleClass("hidden");
                        if(context.hasClass("hidden")){
                            that.html('任务详情<i class="iconfont">&#xe617;</i>');
                        }else{
                            that.html('任务详情<i class="iconfont">&#xe618;</i>');
                        }
                    });
                });
                function join(){
                    $.post(U('Task/MissionHall/receiveTask'),{'MHTID':{#$info.MHTID#}},function(data){
                        if(data.data.status == 0){//请登录
                            $.indexCommon = $.extend($.indexCommon, {
                                 loginCallBack : function(status){
                                     if(1 == status){
                                         join();
                                     }
                                 }
                             });
                            $('.topLogin .topLoginButton').click();
                        }else if(data.data.status == 1){//已参与
                            alert(data.data.title);
                            $('#btn').attr({'href':'javascript:;'}).css({'background':'#ccc','border':'#ccc 1px solid'});
                        }else if(data.data.status == 2){//成功
                            if(data.data.link){
                                if(!confirm('申请成功!立即做任务拿奖励\r\n选择取消返回任务大厅')){
                                    window.location.href= U('/Task','',false);
                                    return;
                                }
                                var url = data.data.link;
                                url = url.substring(1);
                                var host = U('Home/Index/main?u='+url.replace(/\//g,'_'));
                                if(url.indexOf('Teacher') == 0){
                                    host = U('Teacher/Index/index?u='+url.replace(/\//g,'_'));
                                }
                                window.location.href= host;
                            }else{
                                alert('申请成功，任务已在审核中！');
                                window.location.href= U('/Task','',false);
                            }
                        }
                    });
                }
            </script>
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery.SuperSlide.2.1.1.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="__PUBLIC__/plugin/png.js"></script>
    <script>DD_belatedPNG.fix('a,div,span,img,i');</script>
    <![endif]-->
    {#include file="Index@Common/footer" /#}
    <!--footer-end-->
    
