<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>{#$pageName#} - {#$config.IndexName#}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{#$config.Keyword#}" />
    <meta name="description" content="{#$config.Description#}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link type="text/css" href="__PUBLIC__/default/css/common1.css{#$Think.config.WLN_UPDATE_FILE_DATE#}" rel="stylesheet" />
</head>
<body>
<div class="dialog popupbox " style="opacity: 1; z-index: 1002; position: absolute; width: 570px; top: 133.47826086956522px; left: 435px; display: block;"><div class="bar" onselectstart="return false;" oncopy="return false;"><span class="title" onselectstart="return false;"><b>添加知识</b></span><a class="tcClose" did="addworkdiv">×关闭</a></div><div class="normal_msg">
  <div class="popuptit">选择栏目</div>
  <div class="popupnr">
    <label for="select"></label>
    <select name="select" id="select">
      <option>预习案</option>
    </select>
    <select name="select2" id="select2">
      <option>预习案</option>
    </select>
    <select name="select3" id="select3">
      <option>预习案</option>
    </select>
  </div>
  <div class="popuptit">章节选择</div>
  <div class="popupnr">
    <label for="select2"></label>
    <select name="select4" id="select2">
      <option>必修1</option>
    </select>
    <select name="select4" id="select4">
      <option>第一章节</option>
    </select>
    <select name="select4" id="select5">
      <option>沁园春·长沙</option>
    </select>
  </div>
  <div class="popuptit">知识内容</div>
  <div class="popupnr"><textarea >此处文本框为附文本框</textarea></div>
  <div class="popuptit">知识答案</div>
  <div class="popupnr">
    <textarea >此处文本框为附文本框</textarea>
  </div>
</div>
<div class="normal_btn"><span class="normal_yes bgbt an01" only="1"><span class="an_left"></span><a>确定</a><span class="an_right"></span></span><span class="normal_no bgbt an02" idname="addworkdiv"><span class="an_left"></span><a>取消</a><span class="an_right"></span></span></div></div>

</body>
</html>