<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>{#$pageName#} - {#$config.IndexName#}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{#$config.Keyword#}" />
    <meta name="description" content="{#$config.Description#}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link type="text/css" href="__PUBLIC__/default/css/common1.css{#$Think.config.WLN_UPDATE_FILE_DATE#}" rel="stylesheet" />
</head>
<body>
<div class="dialog popupbox" style="opacity: 1; z-index: 1002; position: absolute;top: 146.52173913043478px; left: 420px; display: block;">
  <div class="bar" onselectstart="return false;" oncopy="return false;"><span class="title" onselectstart="return false;"><b>我的知识详细</b></span><a class="tcClose" did="downdiv"></a></div><div class="content"><table width="100%" border="0" cellpadding="15" cellspacing="0" class="table">
<tbody>
<tr>
    <td align="center"><b>内容</b></td>

    <td width="401">备课组长提前一周召集全体组员就教学内容进行说课，着重围进行说课，着重围..备课组长提前一周召集全体组员就教学内容进行说课，着重围进行说课，着重围..备课组长提前一周召集全体组员就教学内容进行说课，着重围进行说课，着重围..</td>
</tr>
<tr>
<td align="center" width="61"><b>答案</b></td>
<td>无</td>
</tr>
<tr>
<td align="center">
<b>学科</b>
</td>
<td>语文<br>
</td>
</tr>
<tr>
  <td align="center"><b>章节</b></td>
  <td>必修一 &gt; 第一章节 &gt; 沁园春·长沙</td>
</tr>
<tr>
  <td align="center"><b>栏目</b></td>
  <td>自学目标</td>
</tr>
</tbody>
</table>

</div></div><div class="normal_btn"><span class="normal_yes bgbt an01"><span class="an_left"></span><a id="submitbtn">确定</a><span class="an_right"></span></span><span class="normal_no bgbt an02"><span class="an_left"></span><a id="closebtn">取消</a><span class="an_right"></span></span></div>

</body>
</html>