<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <title>教学统计</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{#$config.Keyword#}" />
    <meta name="description" content="{#$config.Description#}" />
    <meta property="qc:admins" content="167741560767461006375" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link type="text/css" href="__PUBLIC__/index/css/wln-base.css{#$Think.config.WLN_UPDATE_FILE_DATE#}" rel="stylesheet" />
    <link type="text/css" href="__PUBLIC__/index/css/index.css{#$Think.config.WLN_UPDATE_FILE_DATE#}" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/index/css/style.css{#$Think.config.WLN_UPDATE_FILE_DATE#}"/>
	<!-- 引入echart.js文件 -->
	<script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	<!-- 引入bootstrap -->
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<!-- jquery文件 -->
	<script src="__PUBLIC__/plugin/jquery-3.1.1.min.js"></script>
	<!-- 引入bootstrap核心js文件 -->
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="bg-white">
	
	<!--首页头部-->
    {#include file="Common/top" /#}
    <!--首页头部-end-->
    <!--登录框-->
<div id="righttop">
        <div class="content" >
        <div class="title">{#$pageName#} </div>
		<div class="operate" >
    <!-- {#html:imageBtn name="output" value="导出" class="btexport" style="impBtn hMargin fLeft shadow" /#} -->
    {#html:imageBtn name="revert" value="刷新" class="btflush" style="impBtn hMargin fLeft shadow" /#}

    <!-- 查询区域 -->
    <FORM  id="form1" METHOD="POST" ACTION="{#:U('Statistics/index/index')#}">
    <div class="fRig">
        <div class="fLeft"><span id="key"><INPUT id="name" TYPE="text" NAME="name" value="{#$Think.request.name#}" title="用户名查询" class="medium" ></span></div>
        {#html:imageBtn type="submit" name="search" value="查询" style="impBtn hMargin fLeft shadow" /#}
        <!-- {#html:imageBtn name="adv" value="高级" id="showText" style="impBtn hMargin fLeft shadow" /#} -->
    </div>
    <!-- 高级查询区域 -->
    <div id="searchM" class=" none search cBoth">
        <TABLE border="0" cellpadding="1" cellspacing="3" width="100%">
        <TR>
            <TD class="tRight" width="60">用户名：</TD>
            <TD><INPUT TYPE="text" NAME="UserName" class="small" value="{#$Think.request.UserName#}" ></TD>
            <TD class="tRight" width="80">真实姓名：</TD>
            <TD ><INPUT TYPE="text" NAME="RealName" class="small" value="{#$Think.request.RealName#}"></TD>
            <TD class="tRight" width="60">地区：</TD>
            <TD><select id="sf" class="w90px selectArea">
                <option value="">选择省份</option>
                {#volist name="arrArea" id="sub"#}
                <option value="{#$sub.AreaID#}" last="{#$sub.Last#}">{#$sub.AreaName#}</option>
                {#/volist#}
            </SELECT></TD>
            <TD class="tRight" width="45">学校：</TD>
            <TD class="tLeft" width="200" >
            <SELECT class="w90px bLeft" NAME="SchoolID" id='school'>
                <option value="">请选上级</option>
            </SELECT>
            </td>
            <TD class="tRight" width="60">日期：</TD>
            <TD width="350"><INPUT TYPE="text" NAME="Start" class="medium inputTime" value="{#$Think.request.Start#}"> - 
            <INPUT TYPE="text" NAME="End" class="medium inputTime" value="{#$Think.request.End#}">
            </TD>
        </TR>
        </TABLE>
    </div>
        </FORM>
</div>
		</div>
        <!--  功能操作区域  -->
        <div class="operate" style="width:1714px;margin-left:4.5%";>
		
            <!-- 功能操作区域结束 -->
			<h1 align="center">教师列表</h1>
			<table id="checkList" class="list" cellpadding="5" cellspacing="0" border="1">
				<tr><td height="5" colspan="14" class="topTd" ></td></tr>
				<tr><td>学校教师列表</td>
				<td>学校教师总数：{#$total#}</td>
				</tr>
				<tr class="row tCenter" align="center">
					<th width="8%">序号</th>
					<th width="8%">登陆名</th>
					<th width="8%">真实姓名</th>
					<th width="8%">联系方式</th>
					<th width="8%">邮箱</th>
					<th width="8%">身份</th>
					
					<th width="8%">平台使用量</th>
					<th width="8%">操作</th>
					
				</tr>
				{#volist name="cart_data" id="v" #}
					<tr class="row lists tCenter" jl=''>
						<td>{#$key+1#}</td>
						<td>{#$v.UserName#}</td>
						<td>{#$v.RealName#}</td>
						<td>{#$v.Phonecode#}</td>
						<td>{#$v.Email#}</td>
						<td>【{#eq name="node.Whois" value="0"#}学生{#else/#}教师{#/eq#}】</td>
						<td>{#$v.Logins#}</td>
						<td><a href="{#:U('Statistics/StatisticsB/homeworklist',array('id'=>$v['UserName']))#}">查看布置作业详情</a></td>
					</tr>
				{#/volist#}
				<tr class="row lists tCenter" jl=''>
					<td></td>
					
				 </tr>
				<tr><td height="5" colspan="14" class="bottomTd"></td></tr>
		</table>
            <!-- Think 系统列表组件结束 -->
        </div>
		
		 <!--  分页显示区域 -->
        <div class="page" style="text-align: center;">{#$page#}</div>
		
		
        <!-- 列表显示区域结束 -->
    </div>
	<!-- 图表部分 -->
	<!-- 教师使用量 -->
	<div id = "main" style="height:400px; width:1714px;margin-left:4.5%;"></div>
	
	<script type="text/javascript">
		// $(document).ready(function(){
		// 	$.ajax({
		// 		url:U('Statistics/Index/index'),
		// 		type:"post",
		// 		success:function(arr0){
		// 			console.log(arr0);
		// 		}
		// 	})
		// });
		//路径配置
		require.config({
			paths:{
				echarts:'http://echarts.baidu.com/build/dist'
			}
		});	

		//使用
		require(
			[
				'echarts',
				'echarts/chart/bar',
				'echarts/chart/line'
			],
			function (ec) {
				// 基于准备好的dom，初始化echarts图表
				var myChart = ec.init(document.getElementById('main'));
				var option = {
				    title : {
				        text: '教师平台使用量&作业布置量',
				        subtext: '柳泉中学'
				    },
				    tooltip : {
				        trigger: 'axis'
				    },
				    legend: {
				        data:['平台使用次数','作业布置量']
				    },
				    toolbox: {
				        show : true,
				        feature : {
				            mark : {show: false},
				            dataView : {show: true, readOnly: false},
				            magicType : {show: true, type: ['line', 'bar']},
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
				    xAxis : [
				        {
				            type : 'category',
				            data:{#$dataname#}
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value'
				        }
				    ],
				    series : [
				        {
				            name:'平台使用次数',
				            type:'bar',
				            data:{#$datalogins#},
				            markPoint : {
				                data : [
				                    {type : 'max', name: '最大值'},
				                    {type : 'min', name: '最小值'}
				                ]
				            },
				            markLine : {
				                data : [
				                    {type : 'average', name: '平均值'}
				                ]
				            }
				        },
				        {
				            name:'作业布置量',
				            type:'bar',
				            data:{#$datanum#},
				            markPoint : {
				                data : [
				                    {type : 'max', name: '最大值'},
				                    {type : 'min', name: '最小值'}
				                ]
				            },
				            markLine : {
				                data : [
				                    {type : 'average', name: '平均值'}
				                ]
				            }
				        }
				    ]
				};
				//为echart对象加载数据
				myChart.setOption(option);
			}
		);
		
	</script>
	<!-- 教师出题数量 -->
	
</div>
<!--footer-->
    
  
    <!--footer-end-->
	
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery.SuperSlide.2.1.1.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/pingtai.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>


</body>