<div class="header">
    <div class="top">
        <div class="nav">
            <a href="{#:U('Index/index')#}">首页</a> | 
            <a target="_blank" href="{#:U('Index/About/coreSystem')#}">功能介绍</a> |
            <a target="_blank" href="{#:U('Index/About/coreSystemInfo',array('param'=>'flow','csid'=>1))#}">使用手册</a> |
            <a target="_blank" href="{#:U('Index/About/about',array('param'=>'aboutOnlineS'))#}">联系我们</a> |
            <a target="_blank" href="{#:U('Index/About/videoStudy')#}">帮助中心</a>
        </div>
        <div class="logo" style="width:300px">{#$config.SiteName#}</div>
    </div>
</div>