<div class="u-header">
        <div class="hd-outer auto clearfix">
            <div class="left logo">
                <a href="/" target="_blank" class=""><img src="__PUBLIC__/index/imgs/publ/logo_sub.png" width="190" height="47" alt="题库" title="首页" /></a>
                <span class="page-title" id="pageTitle">活动专题</span>
            </div>
            <div class="right">
                <ul class="u-quick-nav">
                    <li><a class="root" href="{#:U('Home/Index/main')#}" target="_blank">智能组卷</a></li>
                    <li><a class="root" href="{#:U('Aat/App/index')#}" target="_blank">智能提分</a></li>
                    <li><a class="root" href="{#:U('Index/About/about/param/aboutOnlineS')#}" target="_blank">联系客服</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- css:m-css/units/header.less -->