<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>
<div id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">题库</a>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="{#:U('Doc/Doc/show')#}">试卷资源</a></li>
            <li>
                <a href="{#:U('Index/About/knowMe')#}">认识题库</a>
            </li>
            <li><a href="{#:U('Index/About/dynamicNews')#}">平台动态</a></li>
            <li><a href="{#:U('Index/About/coreSystem')#}">核心系统</a></li>
            <li><a href="{#:U('Index/About/operApply')#}">申请开通</a></li>
            <li><a href="{#:U('Index/About/videoStudy')#}">视频培训</a></li>
            <li><a href="{#:U('/Task','',false)#}">任务大厅</a></li>
        </ul>
    </div>
</div>