<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <title>{#$config.IndexName#}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{#$config.Keyword#}" />
    <meta name="description" content="{#$config.Description#}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link type="text/css" href="__PUBLIC__/index/css/wln-base.css" rel="stylesheet" />
    <link type="text/css" href="__PUBLIC__/index/css/register.css" rel="stylesheet" />
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js"></script>
</head>
<body class="bg-white">
    <!--首页头部-->
    {#include file="Index@Common/secondTop" /#}
    <!--首页头部-end-->
    <div class="form-wrap bg-f8f8f8">
        <div class="form-container w1000">
            <!-- 认证流程 -->
            <div class="form-process-wrap">
                <div class="fp-area fp-step2">
                    <span class="fp-area-three on" style="text-align: left;">提交资料</span>
                    <span class="fp-area-three on">等待审核</span>
                    <span class="fp-area-three" style="text-align: right;">认证成功</span>
                </div>
            </div>
            <!-- 认证流程 end-->
            <!-- 教师认证反馈信息 -->
            <div class="feedback-msg-container">
                <div class="fb-msg-title" style="padding-left:10px">
                    <i class="iconfont" style="font-size:50px;color:#ffc05c">&#xe634;</i>
                    <span class="msg" style="font-size:24px;color:#555;padding-top:18px">
                    {#if condition="$authStatus == 1 || empty($authStatus)"#}
                    系统正在审核中，将在 <a class="link">3-5</a> 个工作日内审核完毕
                    {#else /#}
                    认证未通过，请修改认证资料
                    {#/if#}
                    </span>
                </div>
                <div class="fb-msg-content fb-msg-content-border">
                    <div class="fb-msg-area">
                        <table class="msg-table" style="margin:0 auto">
                            <tbody>
                                {#if condition="$realName"#}
                                <tr>
                                    <td class="tb-item-tit">真实姓名：</td>
                                    <td>{#$realName#}</td>
                                    <td></td>
                                </tr><tr>
                                    <td class="tb-item-tit">身份证号：</td>
                                    <td>{#$authInfo.IDNumber#}</td>
                                    <td></td>
                                </tr>
                                {#/if#}
                                <tr>
                                    <td class="tb-item-tit">教师资格证编号：</td>
                                    <td>{#$authInfo.Qualification#}
                                    {#if condition="$authInfo['QuaPicSrc']"#}
                                    <a href="{#$authInfo.QuaPicSrc#}" target="_blank" class="link">查看图片</a>
                                    {#/if#}
                                    </td>
                                </tr><tr>
                                    <td class="tb-item-tit">教师等级证编号：</td>
                                    <td>{#$authInfo.Grade#}
                                    {#if condition="$authInfo['GradePicSrc']"#}
                                    <a href="{#$authInfo.GradePicSrc#}" target="_blank" class="link">查看图片</a>
                                    {#/if#}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fb-msg-btn">
                        <a href="{#:U('Home/Index/main',array('u'=>'User_Home_info'))#}" class="nor-btn smler-btn">
                            进入个人中心</a>
                        <a href="{#:U('User/Index/authTeacher')#}" class="link">修改认证资料</a>
                    </div>
                </div>
            </div>
            <!-- 教师认证反馈信息 -->
            </div>

        </div>
    </div>
    <!--footer-->
    <script type="text/javascript" src="__PUBLIC__/plugin/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/pingtai.js"></script>
    <script type="text/javascript" src="__PUBLIC__/default/js/common.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="__PUBLIC__/plugin/png.js"></script>
    <script>DD_belatedPNG.fix('a,div,span,img,i');</script>
    <![endif]-->
    {#include file="Index@Common/secondFooter" /#}
    <!--footer-end-->
    
