<div class="box02 msgBox" style="display: none;">
    <div class="top">
        <div class="top_left fl"></div>
        <div class="top_cen fc">提示信息</div>
        <div class="top_right fr"></div>
    </div>
    <div class="zj">
        <div class="content">
            <div class="msg"></div>
            <fieldset class="actions">
                <input type="button" class="alertOk" id="submit01" value="确 定">
            </fieldset>
        </div>
    </div>
    <div class="bot">
        <div class="bot_left fl"></div>
        <div class="bot_cen fc"></div>
        <div class="bot_right fr"></div>
    </div>
</div>