<TABLE class="list" cellpadding="5" cellspacing="0" border="1">
<tr><td height="5" colspan="2" class="topTd" ></td></tr>
<TR>
    <TD class="tRight" style="width:100px">试题预览：</TD>
    <TD class="tLeft"><div style="height:200px;width:430px;overflow:auto;">
    <p>【题文】{#$edit.Test|default='无</p>'#}
    <p><font color="red">【答案】</font>{#$edit.Answer|default='无</p>'#}
    <p><font color="red">【解析】</font>{#$edit.Analytic|default='无</p>'#}
    <p><font color="red">【备注】</font>{#$edit.Remark|default='无</p>'#}
    </div></TD>
</TR>
<TR>
    <TD class="tRight" style="width:80px">知识点：</TD>
    <TD class="tLeft" ><SELECT id="knowledge" class="knowledge bLeft" NAME="KlID">
    <option value="">请选择</option>
    </SELECT> <div class="impBtn" style="display:inline;padding:3px 0px;"><input id="addkl" name="addkl" class="add imgButton" type="button" value="添加"></div>
    <div id="klinput"></div>
    </TD>
</TR>
<TR>
    <TD class="tRight" style="width:80px">章节：</TD>
    <TD class="tLeft" ><SELECT id="chapter" class="chapter bLeft" NAME="ChapterID">
    <option value="">请选择</option>
    </SELECT> <div class="impBtn" style="display:inline;padding:3px 0px;"><input id="addcp" name="addcp" class="add imgButton" type="button" value="添加"/></div> <div class="impBtn" style="display:inline;padding:3px 0px;"><a id="adddcp" style="cursor:pointer;">载入默认章节</a></div>
    <div id="cpinput"></div>
    </TD>
</TR>
<TR>
    <TD class="tRight" style="width:80px">专题：</TD>
    <TD class="tLeft" ><SELECT id="special" class="large bLeft" NAME="SpecialID">
    <option value="">请选择</option>
    </SELECT></TD>
</TR>
<TR>
    <TD class="tRight tTop" style="width:80px">打分模式：</TD>
    <TD class="tLeft"><label><INPUT TYPE="radio" id="kg" class="DfStyle bLeft" check='raido' warning="请选择打分模式" NAME="DfStyle" value="0" {#if condition="($edit.DfStyle eq '0') or ($edit.DfStyle eq '')"#}checked="checked"{#/if#}> 客观打分</label> <label><INPUT id="zg" TYPE="radio" class="DfStyle bLeft" NAME="DfStyle" value="1" {#eq name="edit.DfStyle" value="1"#}checked="checked"{#/eq#}> 主观打分</label> </TD>
</TR>
<TR style="background-color:#efefef;font-weight:bold;" class="zgdf">
    <TD class="tCenter tTop" colspan='2'>
    试题打分
    </TD>
</TR>
<TR class="zgdf">
    <TD class="tRight" style="width:80px">难度值：</TD>
    <TD class="tLeft" ><INPUT type="text" value="{#$edit.Diff#}" name="Diff" id="Diff" /> （0-1之间 最多4位小数）</TD>
</TR>

{#if condition="mark_array"#}
<input name="xttimes" id="xttimes" value="{#$times#}" type="hidden"/>
<TR style="background-color:#efefef;font-weight:bold;" class="kgdf">
    <TD class="tCenter tTop" colspan='2'>
    {#if condition="$times>1"#}
        {#for start="1" end="$times+1"#}
            <span id="xt{#$i#}" {#eq name="i" value="1"#} class="xtcurrent xt_title" {#else/#} class="xt xt_title"{#/eq#}>小题{#$i#}打分</span>
        {#/for#}
    {#else/#}
    试题打分
    {#/if#}
    </TD>
</TR>
        {#for start="1" end="$times+1" name="ii"#}
{#volist name="mark_array" id="vo" key="j"#}
<TR class="kgdf xt_con_{#$ii#} xt_con {#neq name="ii" value="1"#}none{#/neq#}">
    <TD class="tRight" style="width:80px">{#$vo.MarkName#}：</TD>
    <TD class="tLeft" ><SELECT id="xt_select_{#$ii#}_{#$j#}" class="mark large bLeft" NAME="Mark[]">
    <option value="">请选择</option>
    {#volist name="vo.MarkListx" id="item"#}
    <option value="{#$item[3]#}" {#volist name="edit.Markx.$ii" id="mk"#}{#if condition="$mk eq $item[3]"#}selected="selected"{#/if#}{#/volist#}>{#$item[1]#}</option>
    {#/volist#}
    </SELECT>{#eq name="vo.Style" value="1"#}(辅助参数){#else/#}(主要参数){#/eq#}</TD>
</TR>
{#/volist#}
        {#/for#}
{#/if#}
<TR>
    <TD style="width:80px">&nbsp;</TD>
    <TD class="center"><div style="width:85%;margin:5px">
        <INPUT TYPE="hidden" id="code" name="code" value="{#$edit.code#}">
        <INPUT TYPE="hidden" id="TestID" name="TestID" value="{#$edit.TestID#}">
        <INPUT TYPE="hidden" name="act" value="{#$act#}">
    <div class="impBtn fLeft"><INPUT tag='form1' id="datasave" u='{#:U('Teacher/Test/save')#}' TYPE="button" value="保存" class="save imgButton mysubmit"></div>
    <div class="impBtn fLeft m-l10"><INPUT TYPE="reset" class="reset imgButton" value="清空" ></div>
    </div></TD>
</TR>
<tr><td height="5" colspan="2" class="bottomTd" ></td></tr>
</TABLE>