/*字体图标*/
/*@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}*/

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1460517468_3161957.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1460517468_3161957.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1460517468_3161957.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1460517468_3161957.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1460517468_3161957.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont"!important;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0}
.dib{display: inline-block;*display: inline;*zoom: 1;}
/*页面标题*/
.usercenter-page-title{float:left;margin:5px 0 0 15px;padding-left:15px;border-left:2px solid #ddd;font-size:26px;color:#888;}
.has-account{float:right;padding:36px 10px 0 0;margin-bottom:-10px;color:#666;}

/*流程*/
.form-process-wrap{padding:10px 0 32px 0;}
.form-process-wrap .fp-area{width:664px;height:46px;margin:0 auto;background:url(../imgs/user/liucheng.png) 50% 0 no-repeat;}
.form-process-wrap .fp-step1{background-position:50% 0;}
.form-process-wrap .fp-step2{background-position:50% -56px;}
.form-process-wrap .fp-step3{background-position:50% -112px;}
.form-process-wrap .fp-area .fp-area-three{float:left;width:33.333%;height:28px;line-height:28px;padding-top:50px;text-align:center;font-size:16px;color:#aaa}
.form-process-wrap .fp-area .on{color:#4f8ee6;}

/*input-框*/
.normal-input{
    width:180px;
}
.large-input{
    width:274px;
}
.small-input{
    width:80px;
}
.sign-bd{
    padding:50px 0;
    background-color:#fff;
    border:1px solid #eee
}
/*信息验证提示*/
.sign-bd .g-form-msg-in i{margin-right:0.4em;font-size:14px;}
.sign-bd .g-form-msg-in i.err{color:#ff7f21;}
.sign-bd .g-form-msg-in i.true{color:#14c941;}

/*表单内容*/
.sign-form-wrap{
    padding:30px 50px;
    margin:60px;
    border:1px solid #eee;
}
.sign-form-wrap .form-header{
    font-size:20px;
    border-bottom:2px solid #4F8EE6;
    padding:15px 0;
}
.sign-content .section-item .selectArea{
    width:90px;
}
.sign-content .section-item .g-control-group{
    margin-bottom:15px;
    margin-left:138px;
}
.sign-content .section-item .g-control-group .red{
    color:#e00;
    margin-right:4px;
    vertical-align: text-top;
}
.sign-content .section-item .g-control-group label{
    width:110px;margin-right:0;
}
.sign-content .fieldset-title{
    font-size:16px;
    border-bottom:1px dashed #C7C7C7;
    padding:12px 0;
    margin-bottom:30px;
}
.IDcard-view-area .view-left{
    position:relative;
    float: left;
    width:348px;
    min-height:204px;
    margin-left:150px;
    border: 1px solid #eee;
    text-align: right;

}
.IDcard-view-area .view-left img{
    display: block;
    max-width:348px;
}
.viewPicTips{
    font-size:30px;
    color:#ccc;
    font-weight:300;
    letter-spacing:3px;
    line-height:220px;
    text-align:center;
    background-color: #fbfbfb;
}
.IDcard-view-area .view-right{
    float: left;
    width:260px;
    height:220px;
    margin-left:15px;
    border:1px dashed #ddd;
    text-align:center;
}
.IDcard-view-area .view-right .tit{
    text-align: left;
    margin-top:-30px;
    font-size: 13px;
    height: 30px;
}
.IDcard-view-area .view-right img{
    width:140px;
    padding:10px 10px 0;
    display: block;
    margin: 0 auto;
}
#byErweima:hover,.showBigPic:hover{
    color:#e00;
}
#byErweima{
    font-size:12px;
    color:#e70;
}
.showBigPic{
    display: inline-block;
    font-size:12px;
    color:#e70;
    margin:5px;
}.submit-area .g-btn{
    width:274px;
    line-height:42px;
    height:42px;
    padding:0 10px;
    font-size:16px;
}
.delThisPic,.uploadBtn{
    position: absolute;
    right:0;
    bottom:-26px;
}
.uploadBtn{
    right:40px;
}
/*提交资料*/
.submit-area{
    position:relative;
    padding:0 0 60px;
    text-align: center;
}
.submit-area button{
    margin:0;
}
#errMsgContent{
    color:#e00;
    font-size:12px;margin:12px 0;
}
#errMsgContent.helper{
    color:#999
}
/*协议书格式*/
.agree-paper{
    font-family:fangsong, sans-serif;
    font-size:16px;
    text-shadow:0 0 0 #000;
}
.agree-paper .agree-party{
    margin:0 0 0.8em 2em;
}
.agree-paper .agree-context{
    padding-top:2em
}
.text-indent{
    text-indent:2em
}
.agree-paper .context-list{
    line-height:1.6;
    margin:0.8em 0 0.8em 80px;
}
.agree-paper .list-mun{
    display: inline-block;
    width:80px;
    margin-left:-80px;
}
.agree-paper .context-list .context-input{
    padding:0 5px;
    border-bottom: 1px solid #333;
}
.agree-paper .context-list .context-input.red{
    color:#e00;
    border-color:#e00
}
.sign-form-wrap .agree-header{
    font-family: Simsun, sans-serif;
    font-size:30px;
    padding:30px 0 50px;
    text-align: center;
}

/*模态框*/
.erweima-model{
    display: inline-block;
    padding:20px;
    border-top:none;
    background-color:#fff;
}
.erweima-model img{
    display: block;
    width:300px;
    height:300px;
}
.erweima-model p{
    margin:0 0 10px;
    font-size:15px;
    color:#999;
    text-align: center;
}

/*协议签名*/
.sign-name-area{
    padding-top:60px;
    padding-bottom:40px;
    font-size:20px;
    line-height:2.2;
}
.firstPartyArea{
    width:48%;
}
.secondPartyArea{
    position: relative;
    width:48%;
    z-index:100;
}
.clientSignSite{
    display: inline-block;
    color:#888
}
.signErweima{
    position: absolute;
    bottom:0;
    right:30px;
    border:1px solid #ddd;
    border-radius:3px;
    background-color: #fff;padding:6px;
}
.signErweima img{
    display: block;
    width:140px;
    height:140px;
}
.signErweima span{
    display: block;
    font-size:12px;
    text-align: center;
    line-height:1.4;
    color:#888;
    padding:8px 0 4px
}
#signWatermark{
    max-width:100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index:-1;
}
#printAgreeContext{
    font-family:Simsun,sans-serif;
    position:absolute;
    right:0;
    top:0;
    color: #4781e6;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}
#printAgreeContext:hover{
    text-decoration:underline;
}
.agree-handle-area{
    margin:0 60px;
}
.agree-handle-area .sign-agree-cite{
    font-size:12px;
    color:#999;
    padding:0 100px
}
/*提交成功-返回界面*/
.sign-feedback{margin:0 auto;padding:40px 200px 50px;}
.sign-feedback .fb-msg-title .iconfont{float:left;font-size:50px;color:#74b846;}
.sign-feedback .fb-msg-title .msg{float:left;padding:10px 10px 0 15px;font-size:36px;color:#74b846;}
.sign-feedback .fb-msg-content{margin-top:20px;font-size:16px;padding:35px 100px 45px;background-color:#fbfbfb;border:1px solid #ddd;}

/*打印显示*/
@media print {
    b{
        font-weight:600;
    }
    .sign-form-wrap .agree-header {
        padding-top: 0;
    }
    .printHide{
        display:none;
    }
    .sign-form-wrap {
        padding: 0;
        margin:0;
        border:none;
        font-size:14px;
    }
    .sign-name-area{
        padding-top:50px;
        font-size:16px;
    }
    @page {
    margin:70pt;
    }
}
