/*用户主页*/

/*layout*/
.m-content{padding-top:20px;}
.m-content .m-left{width:262px;}
.m-content .m-right{width:728px;}
.main-wrap{}

/*默认皮肤*/
.main-skin-def{padding-top:131px;background:#fff url(../imgs/user/main-page/main-bg-def.jpg) 50% 0 no-repeat;border-bottom:1px solid #e4e4e4}

/*用户信息*/
.m-user-photo{height:0;background-color:#e00;position:relative;}
.m-user-photo .photo-wrapper{position:absolute;top:-80px;left:0;width:160px;height:160px;border-radius:5px;overflow:hidden;}
.m-user-photo .photo-wrapper img{width:160px;height:160px;}
.m-user-info{margin-left:182px;}
.m-user-info .mui-top .user-name{display:inline-block;max-width:8em;font-size:22px}
.m-user-info .user-tag{padding-top:10px;}
.m-user-info .user-tag .s-icon{margin:0 10px 0 0}
.user-other-info{padding-top:5px;}
.user-other-info span{margin-right:15px}

/*粉丝关注*/
.m-user-info-content{padding:15px 0 20px 0}
.m-user-info-content .state-num-site{height:60px;padding-top:26px;text-align:center;letter-spacing:-0.31em}
.m-user-info-content .state-num-site .state-item{display:inline-block;width:85px;color:#666;border-left:1px dashed #ddd;letter-spacing:normal}
.m-user-info-content .state-num-site .state-item:first-child{border-left:none;}
.m-user-info-content .state-num-site .state-item cite{font-size:20px;color:#444444;font-weight:600;}
.m-user-info-content .m-attent-btn{background-color:#ff8f2b;width:60px;color:#fff;}
.m-user-info-content .attent-status1{background-color:#eee;width:60px;color:#999;}
.m-user-info-content .m-attent-btn .iconfont{margin-right:0.2em;}
.m-user-info-content .m-attent-btn:hover{background-color:#FF8224;}
.m-user-info-content .attent-status1:hover{background-color:#e7e7e7;}
.m-user-info-content .btn-site{margin:4px 0 0 1.5em;}
.m-user-info-content .user-other-info .iconfont{margin-right:0.3em;color:#999;}

/*用户主页左侧信息*/
.m-id-site{height:46px;background:url(../imgs/user/main-page/user-id-bg.png) repeat;color:#fff;text-align:center;font-size:18px;}
.m-id-site .iconfont{font-size:30px;margin-right:0.2em;vertical-align:middle;}
.m-id-site .id-name{opacity:0.9;filter:alpha(opacity=90);vertical-align:middle;}

/*用户最新动态*/
.m-status-panel{border:1px solid #E4E4E4;padding:1em;}
.m-status-panel .panel-head .head-name{font-size:20px;}
.m-status-list li{height:18px;line-height:18px;vertical-align:0;font-size:12px;padding:1em 0.5em;border-top:1px dashed #ddd;}
.m-status-list li:first-child{border-top:none;}
.m-status-list .left{width:600px;}
.m-status-list .left img{vertical-align:-14px;border-radius:4px}
.m-status-list .left .ur-user cite{margin-left:12px;}
.m-status-list .helper{margin:0 0.6em 0 0}
.m-status-list .right{color:#999;}

/*最新资源/最近访客*/
.last-source-panel,.last-caller-panel{border:1px solid #E4E4E4;border-top-width:2px;border-top-color:#ff8f2b;margin-top:10px;background-color:#fff;padding:0.5em;}
.last-source-list li{height:24px;}
.last-source-list,.last-caller-list{padding:0.4em 0.5em;}
.last-source-panel .panel-head,.last-caller-panel .panel-head{border:none;}
.last-source-list a{max-width:100%;display:inline-block;font-size:12px;color:#333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.last-source-list a:hover{color:#ff7428;}
.last-caller-list li{float:left;margin:6px}
.last-caller-list .caller-icon{display:block;width:46px;height:46px;border-radius:3px;overflow:hidden;}
.last-caller-list .caller-icon img{width:46px;height:46px;}
.last-caller-list .caller-name{display:block;width:46px;font-size:13px;color:#000;}