<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>『{#$Think.config.WLN_WEB_NAME#}管理平台』</TITLE>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/plugin/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/jquery.newplaceholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/teacher/js/common1.js"></script>
<script type="text/javascript" src="__PUBLIC__/teacher/js/common.js"></script>

<SCRIPT LANGUAGE="JavaScript">
//指定当前组模块URL地址 
var URL = '__URL__';
var APP     =     '__APP__';
var PUBLIC = '__PUBLIC__';
</SCRIPT>
</HEAD>

<body>
<div id="loader" >页面加载中...</div>