            <div class="u-left">
                <div class="u-index">
                <a href="{#:U('IndexCenter/index')#}"><i class="iconfont">&#xe610;</i><span>个人中心</span></a>
                </div>

                <div class="func-item-content">
                    <div class="func-item">
                        <h3>试题相关</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myTestFav')#}" id="myTestFav">试题收藏</a></li>
                            <li class="nav-item">
                                <a href="{#:U('User/IndexCenter/myTestComment')#}" id="myTestComment">试题反馈</a>
                            </li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myTestDocSave')#}" id="myTestDocSave">历史存档</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myTestDown')#}" id="myTestDown">历史下载</a></li>
                        </ul>
                    </div>

                    <div class="func-item">
                        <h3>订单中心</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myOrder')#}" class="" id="myOrder">我的订单</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myGold')#}" class="" id='myGold'>金币记录</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myShareDoc')#}" class="" id="myShareDoc">分享历史下载</a></li>
                        </ul>
                    </div>

                    <div class="func-item">
                        <h3>校本题库</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('/Custom/CustomTestStoreN')#}" class="">校本试题</a></li>
                            <li class="nav-item"><a href="{#:U('/Custom/CustomTestStoreN/customNav')#}" class="" id='customNav'>添加试题</a></li>
                        </ul>
                    </div>

                    <div class="func-item">
                        <h3>任务中心</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/baseWork')#}" class="" id='baseWork'>基础任务</a></li>
                            <li class="nav-item"><a href="{#:U('Task/MissionHall/myTask')#}" class="" id='myTask'>任务大厅任务</a></li>
                            <li class="nav-item"><a href="{#:U('NewTeacher/DocManager/index')#}" class="">解析任务</a></li>
                            <li class="nav-item"><a href="{#:U('NewTeacher/Task/index', array('Status'=>0))#}" class="">标引任务</a></li>
                            <li class="nav-item"><a href="{#:U('NewTeacher/Check/index', array('Status'=>0))#}" class="">试题审核</a></li>
                            <li class="nav-item"><a href="{#:U('NewTeacher/StudentWork/index', array('Status'=>0))#}" class="">公式处理</a></li>
                            <li class="nav-item"><a href="{#:U('NewTeacher/CustomIntro/taskTestList')#}" class="">校本题库</a></li>
                        </ul>
                    </div>

                    <div class="func-item">
                        <h3>个人信息</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myDynamic')#}" class="" id='myDynamic'>最新动态</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/myUserInfo')#}" id="myUserInfo">个人资料</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/getMyFollower')#}" id="getMyFollower">我的粉丝</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/getMyFollowing')#}" id="getMyFollowing">我的关注</a></li>
                        </ul>
                    </div>
                    <div class="func-item">
                        <h3>帮助中心</h3>
                        <ul>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/levelPower')#}" class="" id="levelPower">等级权限</a></li>
                            <li class="nav-item"><a href="{#:U('User/IndexCenter/userPower')#}" class="" id="userPower">用户权限</a></li>
                        </ul>
                    </div>
                </div>
            </div>