.tx_box{ float:left; padding-top:65px;text-align:center; font-size:16px; padding-left:100px; padding-right:25px; margin-right:25px}
.tx_box img{ width:115px; height:115px}
.tx_box a{color:#0081cb}
.xxzl_box{ margin:0; width:500px; float:left}
.txxq_box{ border: 2px solid #CCCCCC;width: 420px;height: 210px}
.txyl01{ text-align:center;margin-left:10px;width:150px; height:150px;border: 2px solid #CCCCCC;overflow: hidden}
.sctx_an{ padding-top:20px}
.cxsc_an{ float:left; margin-top:10px; padding-left:20px}
.sctx_box h5{ font-weight:bold; padding-bottom:5px}
.sctx_box p.smtext{ color:#aaa; padding-bottom:20px}
.sctx_box{ background:#fff; padding:30px}
.sctxyl_box{margin-top: 20px}