{#// 加载头部公共文件 #}
{#include file="Public/header" /#}
<!-- 主页面开始 -->
<div id="main" class="main" >
    <!-- 主体内容  -->
    <div class="content">
        <!--  功能操作区域  -->
        <div class="title">{#$pageName#} [ <A HREF="__URL__">返回列表</A> ] [ <A HREF="javascript:history.go(-1);">返回上一页</A> ]</div>
        <!-- 功能操作区域结束 -->
        <div id="result" class="result none"></div>
        <!-- 内容显示区域  -->
        <FORM METHOD="POST" action="" id="form1" >
            <TABLE cellpadding="5" cellspacing="0" class="list" border="1">
                <tr><td height="5" colspan="7" class="topTd" ></td></tr>
                <TR>
                    <TD class="tRight" >所属学科：</TD>
                    <TD class="tLeft" ><SELECT class="medium bLeft" NAME="PID">
                        <option value="0">顶级学科</option>
                        {#volist name="subjectArray" id="vo"#}
                        <option value="{#$vo.SubjectID#}" {#eq name="vo.SubjectID" value="$edit.PID"#}selected="selected"{#/eq#}>{#$vo.SubjectName#}</option>
                        {#/volist#}
                    </SELECT></TD>
                </TR>
                <TR>
                    <TD class="tRight" width="100">学科名称：</TD>
                    <TD class="tLeft" ><INPUT TYPE="text" class="large bLeft"  check='Require' warning="学科不能为空" NAME="SubjectName" value="{#$edit.SubjectName|default=''#}"></TD>
                </TR>
                <TR>
                    <TD class="tRight" width="100">学科属性：</TD>
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class="status bLeft"  check='radio' warning="属性不能为空" NAME="Style" value="0" {#if condition="$edit.Style eq 0"#}checked="checked"{#/if#}> 无</label>
                        <label><INPUT TYPE="radio" class="status bLeft" NAME="Style" value="3" {#if condition="$edit.Style eq 3"#}checked="checked"{#/if#}> 文理通用</label>
                        <label><INPUT TYPE="radio" class="status bLeft" NAME="Style" value="1" {#if condition="$edit.Style eq 1"#}checked="checked"{#/if#}> 文科</label>
                        <label><INPUT TYPE="radio" class="status bLeft" NAME="Style" value="2" {#if condition="$edit.Style eq 2"#}checked="checked"{#/if#}> 理科 </label>
                    </TD>
                </TR>
                <TR>
                    <TD class="tRight">默认试卷总分：</TD>
                    <TD class="tLeft"><INPUT name="TotalScore" type="text" value="{#$edit.TotalScore|default=150#}" check='Require' warning="试卷总分不能为空"/>分</TD>
                </TR>
                <TR>
                    <TD class="tRight">默认答题时间：</TD>
                    <TD class="tLeft"><INPUT name="TestTime" type="text" value="{#$edit.TestTime|default=120#}" check='Require' warning="答题时间不能为空"/>分钟</TD>
                </TR>
                <TR>
                    <TD class="tRight">试卷字体大小：</TD>
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class="FontSize bLeft"  check='radio' warning="字体大小不能为空" NAME="FontSize" value="0" {#if condition="$edit.FontSize eq 0"#}checked="checked"{#/if#}> 默认</label>
                        <label><INPUT TYPE="radio" class="FontSize bLeft" NAME="FontSize" value="10.5" {#if condition="$edit.FontSize eq 10.5"#}checked="checked"{#/if#}> 五号</label>
                        <label><INPUT TYPE="radio" class="FontSize bLeft" NAME="FontSize" value="12" {#if condition="$edit.FontSize eq 12"#}checked="checked"{#/if#}> 小四</label>
                    </TD>
                </TR>
                <TR>
                    <TD class="tRight">章节对应关系：</TD>
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class="ChapterSet bLeft"  check='radio' warning="章节对应关系不能为空" NAME="ChapterSet" value="0" {#if condition="$edit.ChapterSet eq 0"#}checked="checked"{#/if#}> 对应知识点</label>
                        <label><INPUT TYPE="radio" class="ChapterSet bLeft" NAME="ChapterSet" value="1" {#if condition="$edit.ChapterSet eq 1"#}checked="checked"{#/if#}> 对应知识点和关键字</label>
                    </TD>
                </TR>
                <TR>
                    <TD class="tRight">doc垂直排版：</TD>
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class="FormatDoc bLeft"  check='radio' warning="章节对应关系不能为空" NAME="FormatDoc" value="0" {#if condition="$edit.FormatDoc eq 0"#}checked="checked"{#/if#}> 自动识别（公式居中优先）</label>
                        <br/><label><INPUT TYPE="radio" class="FormatDoc bLeft" NAME="FormatDoc" value="1" {#if condition="$edit.FormatDoc eq 1"#}checked="checked"{#/if#}> 垂直自适应（公式居中）</label>
                        <br/><label><INPUT TYPE="radio" class="FormatDoc bLeft" NAME="FormatDoc" value="2" {#if condition="$edit.FormatDoc eq 2"#}checked="checked"{#/if#}> 垂直居中（图片居中）</label>
                    </TD>
                </TR>
                <TR>
                    <TD class="tRight">排序：</TD>
                    <TD class="tLeft"><INPUT name="OrderID" type="text" value="{#$edit.OrderID|default=99#}" check='Require' warning="排序不能为空"/></TD>
                </TR>
                <TR>
                    <TD class="tRight">支付方式：</TD>
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class=" bLeft"  check='radio' warning="支付方式不能为空" NAME="MoneyStyle" value="0" {#if condition="$edit.MoneyStyle eq 0"#}checked="checked"{#/if#}> 按题</label>
                        <label><INPUT TYPE="radio" class=" bLeft" NAME="MoneyStyle" value="1" {#if condition="$edit.MoneyStyle eq 1"#}checked="checked"{#/if#}> 按套卷</label>【解析试题分成】
                    </TD>
                </TR>
                <TR>
                    <TD class="tRight">支付金额：</TD>
                    <TD class="tLeft"><INPUT name="PayMoney" type="text" value="{#$edit.PayMoney|default=''#}" check='Require' warning="支付金额不能为空"/>元</TD>
                </TR>
                <TR>
                    <TD class="tRight">答题卡版式：</TD>
                    
                    <TD class="tLeft" >
                        <label><INPUT TYPE="radio" class=" bLeft"  check='radio' warning="答题卡版式不能为空" NAME="Layout" value="A3" {#if condition="$edit.Layout eq 'A3'"#}checked="checked"{#/if#}> A3</label>
                        <label><INPUT TYPE="radio" class=" bLeft" NAME="Layout" value="A4" {#if condition="$edit.Layout eq 'A4'"#}checked="checked"{#/if#}> A4</label>
                    </TD>
                </TR>
                <TR>
                    <TD ></TD>
                    <TD class="center"><div style="width:85%;margin:5px">
                        <INPUT TYPE="hidden" name="SubjectID" value="{#$edit.SubjectID#}">
                        <INPUT TYPE="hidden" name="act" value="{#$act#}">
                        <div class="impBtn fLeft"><INPUT tag='form1' u="{#:U('Subject/save')#}" TYPE="button" value="保存" class="save imgButton mysubmit"></div>
                        <div class="impBtn fLeft m-l10"><INPUT TYPE="reset" class="reset imgButton" value="清空" ></div>
                    </div></TD>
                </TR>
                <tr><td height="5" colspan="7" class="bottomTd" ></td></tr>
            </TABLE>
        </FORM>
        <!-- 列表显示区域结束 -->
    </div>
    <!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
{#// 加载尾部公共文件 #}
{#include file="Public/ends" /#}