<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>异常提示</TITLE>
</HEAD>
<BODY>
<?php if(C('SHOW_PAGE_ERROR_MORE')==1){ ?>
系统发现异常如下：<br/>
异常文件名: <?php $a=explode('/',$e['file']); if(count($a)<2) $a=explode('\\',$e['file']);  echo $a[count($a)-3].'/'.$a[count($a)-2].'/'.$a[count($a)-1]; ?><br/>
异常发生的文件行数: <?php echo $e['line']; ?> <br/>
异常信息: <?php echo $e['message']; ?> <br/>
异常的详细Trace信息: <?php echo $e['trace']; ?> <br/>
<?php }else{ ?>
系统发现异常如下：<br/>
您的网址输入有误，请核对，或者<a href="/">回到首页</a>
<?php } ?>
</BODY>
</HTML>