<!-- 弹窗 -->
<!-- 遮罩层 -->
<div class="lightBox" style='display:block'></div>

<!-- 通用弹出框 -->

<!-- 登录 -->
<div class="dialogBox loginDialog" style="width:374px; display:none">
    <!-- 弹框头部 -->
    <div class="header" style="">
        <span class="title">
        登录
        </span>
        <!-- 关闭按钮 -->
        <a href="javascript:;" class="closeBtn"></a>
    </div>
    <!-- 弹框内容 -->
    <div class="con logRegForm loginForm">
        <div class="useName"><input class="inputNormal username" type="text" value="" title='邮箱、手机号'/><p class="msg msgPos hide"></p></div>
        <div class="pass"><input class="inputNormal password" type="password" value="" title="请输入6-18位密码" /><p class="msg msgPos hide"></p></div>
        <div class="verCode"><input class="inputNormal verifyCode" type="text" title='验证码' /> <img title="换一张" class="yanZM" src="" alt="验证码" width="76" height="30" /><a class="forget" href="" target='_blank'>忘记密码？</a> <p class="msgyanZM msg hide"></p></div>
        <div class="savePass"><label for="savePass"><input id="savePass" class='remember' type="checkbox" />记住密码</label></div>
        <div class="formBtn"><a class="nor-btn login" href="" >登录</a><a class="nor-btn reg" href="" >注册</a></div>

    </div>
</div>
<!-- 注册 -->
<div class="dialogBox regDialog" style="width:374px; display:none;">
    <!-- 弹框头部 -->
    <div class="header" style="">
        <span class="title">
        注册新用户
        </span>
        <!-- 关闭按钮 -->
        <a href="javascript:;" class="closeBtn"></a>
    </div>
    <!-- 弹框内容 -->
    <div class="con logRegForm regForm">
        <div class="useName"><input class="inputNormal username" type="text" title="请填写邮箱或手机号" /><p class="msg msgPos"></p></div>
        <div class="pass"><input class="inputNormal password" type="password" title="请输入6-18位密码" /><p class="msg msgPos"></p></div>
        <div class="pass"><input class="inputNormal rpassword" type="password" title="请输入6-18位密码" /><p class="msg msgPos"></p></div>
        <div class="invite"><input class="inputNormal verifyCode" type="text" title="请填写邀请码" /><p class="msg msgPos"></p></div>
        <div class="savePass"><label for="agreed"><input id="agreed" type="checkbox" value='0'/>已经阅读并同意</label><a href="" class='term'>服务条款</a></div>
        <div class="formBtn"><a class="nor-btn login" href="" >注册</a><a class="nor-btn reg" href="" >登录</a></div>

    </div>
</div>

<!-- 隐私条框 -->
<div class="dialogBox termDialog" style="width:824px; display:none;">
    <!-- 弹框头部 -->
    <div class="header">
        <span class="title">
        智慧云题库云平台服务条款
        </span>
        <!-- 关闭按钮 -->
        <a href="javascript:;" class="closeBtn"></a>
    </div>
    <!-- 弹框内容 -->
       <div class="con TOS">
       <div class="tosNav">
           <a href="#item1">一、关于本协议的一般约定</a>
           <a href="#item2">二、用户的权利</a>
           <a href="#item3">三、注册</a>
           <a href="#item4">四、题库服务</a>
           <a href="#item5">五、题库服务使用规范</a>
           <a href="#item6">六、版权声明</a>
           <a href="#item7">七、特别授权</a>
           <a href="#item8">八、责任范围和责任限制</a>
           <a href="#item9">九、协议终止</a>
           <a href="#item10">十、隐私权政策</a>
           <a href="#item11">十一、法律适用、管辖与其他</a>
       </div>
           <div class="tosBox">
               <div class="itemCon">
                   <h4 id="item1" class="smlTit">一、特别声明</h4>
                   <p>1.1 本协议双方为智慧云题库云平台（以下简称题库）网站与题库网站用户，本协议具有合同效力。本协议内容包括协议正文及所有题库网站已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。</p>
                   <p>1.2 题库在此特别提醒，用户（您）欲访问和使用题库，必须事先认真阅读本使用协议中各项协议， 包括免除或者限制题库责任的免责协议及对用户的权利限制。请您审阅并接受或不接受本使用协议（未成年人审阅时应得到法定监护人的陪同）。如您不同意本使用协议及/或随时对其的修改，您应不使用或主动取消题库提供的服务。您的使用行为将被视为您对本协议全部的完全接受，包括接受题库对使用协议随时所做的任何修改。</p>
                   <p>1.3 题库有权根据需要不时地制订、修改本协议及/或各类规则，并以网站公示的方式进行公告，不再单独通知您。变更后的协议和规则一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止使用题库网站服务。您继续使用题库网站服务的，即表示您接受经修订的协议和规则。</p>
                   <p>1.4 用户注册成功后，题库将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
               </div>
               <div class="itemCon">
                   <h4 id="item2" class="smlTit">二、题库网站服务</h4>
                   <p>2.1 注册 您确认，在您完成注册程序或以其他题库允许的方式实际使用题库网站服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应承担因此而导致的一切后果，且题库有权注销（永久冻结）您的题库网站账户，并向您及您的监护人索偿。</p>
                   <p>2.2 通过题库及其关联公司提供的题库网站服务和其它服务，用户可在题库网站上发布题目、查询题目、查询题目的答案及解析、评价题目、使用题目组成试卷等信息服务及技术服务。</p>
                   <p>2.3 您了解并同意，题库有权应政府部门（包括司法及行政部门）的要求，向其提供您在题库网站填写的注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则题库亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。</p>
               </div>
               <div class="itemCon">
                   <h4 id="item3" class="smlTit">三、题库网站服务使用规范</h4>
                   <p>3.1 在题库网站上使用题库服务过程中，您承诺遵守以下约定：</p>
                   <p>3.1.1您以个人的名义对在使用题库网站服务过程中实施的所有行为独立承担所有的法律责任，并确保题库免于因此产生任何损失，题库不承担任何法律责任。您在使用题库网站服务过程中实施的所有行为均必须遵守国家法律、法规等规范性文件及题库网站各项规则的规定和要求，不得危害国家安全、泄漏国家机密、损害国家的荣誉和利益，不得煽动民族仇恨、民族歧视、破坏民族团结，不得破坏国家宗教政策、宣扬邪教和封建迷信，不得散步谣言、扰乱社会秩序，不得散步淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪，不得违反本协议及相关规则。在职教师使用题库网站服务指导本校学生时，题库网站仅作为辅助工具，不得收取额外费用。</p>
                   <p>3.1.2 不以虚构或歪曲事实的方式不当评价其他用户及题目，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他<em>用户</em>的信用度；</p>
                   <p>3.1.3 不对题库网站上的任何数据作商业性利用，包括但不限于在未经题库事先书面同意的情况下，以复制、传播等任何方式使用题库网站站上展示的资料。</p>
                   <p>3.1.4 不使用任何装置、软件或例行程序干预或试图干预题库网站的正常运作或正在题库网站上进行的任何交易、活动。您不得采取任何将导致不合理的庞大数据负载加诸题库网站网络设备的行动。</p>
                   <p>3.1.5 题库禁止一切非法采集网站试题行为，最终解释权归题库所有。</p>
                   <p>3.2 您了解并同意：</p>
                   <p>3.2.1 题库有权对您是否违反上述承诺做出单方认定，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。</p>
                   <p>3.2.2 基于维护题库网站交易秩序及交易安全的需要，题库有权在发生恶意购买等扰乱市场正常交易秩序的情形下，执行关闭相应交易订单等操作。</p>
                   <p>3.2.3 经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者题库根据自身的判断，认为您的行为涉嫌违反本协议和/或规则的条款或涉嫌违反法律法规的规定的，则题库有权在题库网站上公示您的该等涉嫌违法或违约行为及题库已对您采取的措施。</p>
                   <p>3.2.4 对于您在题库网站上发布的涉嫌违法或涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，题库有权不经通知您即予以删除，且按照规则的规定进行处罚。</p>
                   <p>3.2.5 对于您在题库网站上实施的行为，包括您未在题库网站上实施但已经对题库网站及其用户产生影响的行为，题库有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此作出相应处罚。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。</p>
                   <p>3.2.6 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保题库免于因此产生损失或增加费用。</p>
                   <p>3.2.7如您涉嫌违反有关法律或者本协议之规定，使题库遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿题库因此造成的损失及（或）发生的费用，包括合理的律师费用。</p>
                   <p></p>
               </div>
               <div class="itemCon">
                   <h4 id="item4" class="smlTit">四、版权声明</h4>
                   <p>4.1 题库一贯高度重视知识产权保护并遵守中华人民共和国各项知识产权法律、法规和具有约束力的规范性文件，坚信著作权拥有者的合法权益应该得到尊重和依法保护。题库坚决反对任何违反中华人民共和国有关著作权的法律法规的行为。</p>
                   <p>4.2 题库拥有本网站内所有信息内容（包括但不限于用户上传的题目、文字、图片、视频、课件等）的版权。任何被授权的浏览、复制、打印和传播的属于题库站内信息内容都不得用于商业目的，题库有权追究法律责任。</p>
                   <p>4.3 题库对其发行的或与合作公司共同发行的包括但不限于产品或服务的全部内容及题库网站上的材料拥有版权等知识产权，受法律保护。</p>
                   <p>4.4 未经本公司书面许可，任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</p>
                   <p>4.5 凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。</p>
               </div>
               <div class="itemCon">
                   <h4 id="item5" class="smlTit">五、特别授权</h4>
                   <p>您完全理解并不可撤销地授予题库下列权利：</p>
                   <p>5.1 您完全理解并不可撤销地授权题库或题库授权的第三方或您与题库一致同意的第三方，根据本协议及题库规则的规定，处理您在题库网站上发生的所有交易及可能产生的交易纠纷。您同意接受题库或题库授权的第三方或您与题库一致同意的第三方的判断和调处决定。该决定将对您具有法律约束力。</p>
                   <p>5.2 一旦您向题库作出任何形式的承诺，且相关公司已确认您违反了该承诺，则题库有权立即按用户的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，题库无须就相关确认与用户核对事实，或另行征得您的同意，且题库无须就此限制措施或公示行为向您承担任何的责任。</p>
                   <p>5.3 一旦您违反本协议，或与题库签订的其他协议的约定，题库有权以任何方式通知您因题库发生交易行为的第三方公司，要求其对您的权益采取限制措施，包括但不限于要求第三方公司中止、终止对您提供部分或全部服务。</p>
                   <p>5.4 对于您提供的资料及数据信息，您授予题库及其关联公司独家的、全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)。此外，题库及其关联公司有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、交易行为数据及全部展示于题库网站的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</p>
               </div>
               <div class="itemCon">
                   <h4 id="item6" class="smlTit">六、责任范围和责任限制</h4>
                   <p>6.1 题库负责按"现状"和"可得到"的状态向您提供题库网站服务。但题库对题库网站服务不作任何明示或暗示的保证，包括但不限于题库网站服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，题库也不对题库网站服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。</p>
                   <p>6.2 您了解题库网站上的信息系用户自行发布，且可能存在风险和瑕疵。题库网站仅作为交易地点。题库网站仅作为您获取物品或服务信息、物色交易对象、就物品和/或服务的交易进行协商及开展交易的场所，但题库无法控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易各方履行其在贸易协议中各项义务的能力。您应自行谨慎判断确定相关物品及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</p>
                   <p>6.3 除非法律法规明确要求，或出现以下情况，否则，题库没有义务对所有用户的注册数据、课程（服务）信息、交易行为以及与交易有关的其它事项进行事先审查：</p>
                   <p>6.3.1 题库有合理的理由认为特定用户及具体交易事项可能存在重大违法或违约情形。</p>
                   <p>6.3.2 题库有合理的理由认为用户在题库网站的行为涉嫌违法或不当。</p>
                   <p>6.4 题库及其关联公司有权受理您与其他用户因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定。该处理决定对您有约束力。如您未在限期内执行处理决定的，则题库及其关联公司有权利（但无义务）直接使用您账户内的款项，或您向题库及其关联公司交纳的保证金代为支付。您应及时补足保证金并弥补题库及其关联公司的损失，否则题库及其关联公司有权直接抵减您在其它合同项下的权益，并有权继续追偿。 您理解并同意，题库及其关联公司并非司法机构，仅能以普通人的身份对证据进行鉴别，题库及其关联公司对争议的调处完全是基于您的委托，题库及其关联公司无法保证争议处理结果符合您的期望，也不对争议调处结论承担任何责任。如您因此遭受损失，您同意自行向受益人索偿。</p>
                   <p>6.5 您了解并同意，题库不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论题库是否已被告知该等损害赔偿的可能性) ：</p>
                   <p>6.5.1 使用或未能使用题库网站服务。</p>
                   <p>6.5.2 第三方未经批准的使用您的账户或更改您的数据。</p>
                   <p>6.5.3 通过题库网站服务购买或获取任何课程、样品、数据、信息或进行交易等行为或替代行为产生的费用及损失。</p>
                   <p>6.5.4 您对题库网站服务的误解。</p>
                   <p>6.5.5 任何非因题库的原因而引起的与题库网站服务有关的其它损失。</p>
                   <p>6.5.6 不论在何种情况下，题库均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</p>
               </div>
               <div class="itemCon">
                   <h4 id="item7" class="smlTit">七、协议终止</h4>
                   <p>7.1 您同意，题库有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部题库网站服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担任何责任。</p>
                   <p>7.2 出现以下情况时，题库有权直接以注销账户的方式终止本协议:</p>
                   <p>7.2.1 题库终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为题库用户的；</p>
                   <p>7.2.2 您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或题库以其它联系方式通知您更改电子邮件信息，而您在题库通知后三个工作日内仍未更改为有效的电子邮箱的。</p>
                   <p>7.2.3 您注册信息中的主要内容不真实或不准确或不及时或不完整。</p>
                   <p>7.2.3 本协议（含规则）变更时，您明示并通知题库不愿接受新的服务协议的；</p>
                   <p>7.2.4 用户在使用收费网络服务时未按规定向题库支付相应的服务费；</p>
                   <p>7.2.5 按照主管部门的要求；</p>
                   <p>7.2.6 其它题库认为应当终止服务的情况。</p>
                   <p>7.3 您有权向题库要求注销您的账户，经题库审核同意的，题库注销（永久冻结）您的账户，届时，您与题库基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，题库没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</p>
                   <p>7.4 您同意，您与题库的合同关系终止后，题库仍享有下列权利：</p>
                   <p>7.4.1 继续保存您的注册信息及您使用题库网站服务期间的所有交易信息。</p>
                   <p>7.4.2 您在使用题库网站服务期间存在违法行为或违反本协议和/或规则的行为的，题库仍可依据本协议向您主张权利。</p>

               </div>
               <div class="itemCon">
                   <h4 id="item8" class="smlTit">八、隐私保护</h4>
                   <p>8.1您向我们提供的信息</p>
                   <p>8.1.1当您注册题库时，题库会收集用户的个人身份识别资料，包括但不限于姓名、出生日期、性别、电话号码、电子邮箱、机构/学校名等。</p>
                   <p>8.1.2只要您在题库填写基本注册信息并成功完成注册，在您登录服务器时，我们将可以识别您。在使用某些特定服务时，您可能还需要进一步提供某些个人信息，您可以选择不提供，但是这样的话您可能就无法正常使用本平台的许多特定服务。</p>
                   <p>8.1.3自动获取的信息：无论何时您与我们互动时，我们接收并储存特定的信息。其中包括您的 Ip 地址，cookie中的信息以及您需求的网页记录。</p>
                   <p>8.1.4题库会将这些资料用于：改进为您提供的服务，满足您对某种平台功能的需求或通知您最新的相关平台信息。</p>
                   <p>8.2 信息公开与共享</p>
                   <p>题库不会未经合法用户授权就公开、编辑或透露其注册资料，不对外公开用户的姓名、地址、电子邮箱和手机号码等用户资料。</p>
                   <p>用户的信息是我们业务中重要的一部分，我们不会将其出租或出售给他人。以下情况除外且本网站亦毋需承担任何责任：</p>
                        <p>8.2.1只有透露您的个人资料，才能提供您所要求的服务；</p>
    <p>8.2.2我们需要向其他学校或机构提供资料，这样才能获得您想要的服务；</p>
    <p>8.2.3我们需要听从法庭传票、法律命令或遵循法律程序；</p>
    <p>8.2.4我们发现您违反了题库的用户协议或是学校、个人的相关规定；</p>
    <p>8.2.5您同意让第三方共享资料；</p>
    <p>8.2.6由于您将用户密码告知他人或与他人共享注册帐户,由此导致的任何个人资料泄露；</p>
    <p>8.2.7由于黑客政击、计算机病毒侵入、政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；</p>
    <p>8.3隐私权政策的声明和修订</p>
    <p>8.3.1本网站之隐私保护声明以及其修改权、更新权、最终解释权均属题库。</p>
    <p>8.3.2如果您选择访问题库网站，您的访问和有关隐私的争议将受制于本声明和我们的使用条件，包括对赔偿的限制、争议解决和中华人民共和国法律的适用。如果您有任何对题库网站上有关隐私的问题，请联系我们并作充分描述，我们将尽力解决。</p>
    <p>8.3.3题库会根据情况对隐私权政策进行修改。如果在使用用户个人信息政策方面有大幅度修改时，我们会在网页中显眼的位置贴出相关规定或以电子邮件的形式通知用户。您应经常登录我们的网站了解最近的变化。除另有声明外，我们现行的隐私政策适用于我们关于您和您的账户的所有信息。</p>
    <p>8.3.4题库决不会发送电子邮件来向您索要登录帐户和密码。如果您接收类似的电子邮件，可向有关部门报案，或将该原始的电子邮件保存并联系我们，以便我们对它进行调查。</p>


               </div>
               <div class="itemCon">
                   <h4 id="item9" class="smlTit">九、法律适用、管辖与其他</h4>
                   <p>9.1 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。</p>
                   <p>9.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向题库所在地的人民法院提起诉讼。</p>
                   <p>9.3 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
                   <p>9.4 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
                   <p>9.5 本协议中的标题仅为方便而设，在解释本协议时应被忽略。
               </div>
                <div class="itemCon">
               <h4 id="item10" class="smlTit">十、隐私权政策</h4>
               <p>题库将在题库公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。</p>
           </div>
           <div class="itemCon">
               <h4 id="item11" class="smlTit">十一、法律适用、管辖与其他</h4>
               <p>
                   1.本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。
               </p>
               <p>2.因本协议产生之争议，应依照中华人民共和国法律予以处理，并以运营题库网站的公司所在地的人民法院为管辖法院。</p>
           </div>

           </div>
           <div class="tosBtn"><a href="javascript:;" class="nor-btn">同意并继续</a></div>
       </div>
</div>
<!-- 弹窗 end -->