<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {#include file="Common:head"/#}
</head>

<body>
<div id="wrapper">
{#include file="Common:header"/#}
    <div id="content" class="w980 mc pt90 pb20">
        <div class="box02 mb20 mylx_box">
            <!--题目-->
            <div class="zt_title">
                <div class="fl pt20 pl20">我的练习</div>
            </div>
            <!--测试记录-错题-收藏Tab-->
            <div id="s_tab" class="tabnav01">
                <a class="this" data="s_record">练习历史</a>
                <a data="s_wrong">错题记录</a>
                <a data="s_collect">我的收藏</a>
            </div>
            <!--测试记录-->
            <div id="s_record" class="mysc_box">
                <!--试卷收藏-->
                <div class="stlb01">
                    <ul class="list_stlb01">
                        加载中...
                    </ul>
                    <div class="pagination" style="display: block;"></div>
                </div>
                <!--试卷收藏 END-->
            </div>
            <!--错题记录-->
            <div id="s_wrong" class="mysc_box" style="display: none;">
                <!--知识点-->
                <div style="" class="list_zsd_box">
                    <ul class="list_zsd">
                        加载中...
                    </ul>
                </div>
                <!--知识点 END-->
            </div>
            <!--我的收藏-->
            <div id="s_collect" class="mysc_box" style="display: none;">
                <!--知识点-->
                <div style="" class="list_zsd_box">
                    <ul class="list_zsd">
                       加载中...
                    </ul>
                </div>
                <!--知识点 END-->
            </div>
            <!--右侧快捷按钮-->
            <div id="db_dh_box" style="display: none;">
                <a class="an_go_top" href="javascript:;"></a>
            </div>
        </div>
    </div>
    <div id="footer">
        {#include file="Common:footer"/#}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var AatMyExercise = {
        init:function(){
            //测试记录
            this.exerciseRecord();
            //切换Tab事件
            this.tab();
            //返回TOP
            this.goTop();
        },
        tab:function() {
            var self = this;
            $('#s_tab a').on('click',function(){
                $('#s_tab a').removeClass('this');
                $(this).addClass('this');
                $('#s_record,#s_collect,#s_wrong').hide();
                if($(this).attr('data')=='s_wrong'){
                    self.testWrong();//错题记录
                }else if($(this).attr('data')=='s_collect'){
                    self.testCollect();//收藏记录
                }
                $('#'+$(this).attr('data')).show();
            });
        },

        exerciseRecord:function() {
            var self = this;
            self.recordAjax(1);
            //Ajax 分页
            $('#s_record').on('click','.ajax_page_class', function(){
                self.recordAjax($(this).attr('data'));
            });
        },

        testWrong:function() {
            $.get(U('TestWrong/returnKlInfo'),{times:Math.random()}, function (e) {
                if (e.status !== 1) {
                    $('#s_wrong .list_zsd').html(e.data);
                } else {
                    var str = '';
                    $.each(e.data,function(i,k){
                        //判断是否有下级知识点
                        var ico = k.sub?'ico_zd_01':'ico_zd_03';
                        var an = '',url = 'javascript:;';
                        if(k.amount == 0){
                            an = 'an02hs';
                        }else{
                            url = U('TestWrong/testList?id='+ k.klID);
                        }
                        str += '<li><a class="ico_zd '+ico+' fl"></a><div klid="'+ k.klID+'" class="zsd_bt fl" style="cursor: pointer">'+ k.klName+
                                '<span class="zsd_tj">(共有 '+ k.amount+' 道错题)</span></div>'+
                                '<div class="an_box fr" klid="'+ k.klID+'"><a class="an02 '+an+'" href="'+ url +'"><span class="an_left"></span>'+
                                '<span class="an_cen">查看题目</span><span class="an_right"></span></a></div></li>';
                        if(k.sub){
                            $.each(k.sub,function(j,m){
                                var an = '',url = 'javascript:;';
                                if(m.amount == 0){
                                    an = 'an02hs';
                                }else{
                                    url = U('TestWrong/testList?id='+ m.klID);
                                }
                                str += '<li class="lidj02 sub_kl_id_'+ k.klID+'" style="display: none;"><a class="ico_zd ico_zd_03 fl"></a><div class="zsd_bt fl">'+ m.klName+
                                        '<span class="zsd_tj">(共有 '+ m.amount+' 道错题)</span></div>'+
                                        '<div class="an_box fr" klid="'+ m.klID+'"><a class="an02 '+an+'" href="'+ url +'"><span class="an_left"></span>'+
                                        '<span class="an_cen">查看题目</span><span class="an_right"></span></a></div></li>';
                            });
                        }
                    });
                    $('#s_wrong .list_zsd').html(str);
                }
            });
            $('#s_wrong').off('click').on('click','.zsd_bt,.ico_zd',function(){
                $(this).parent().find('.ico_zd_01').switchClass('ico_zd_01','ico_zd_02',1);
                $(this).parent().find('.ico_zd_02').switchClass('ico_zd_02','ico_zd_01',1);
                var id = $(this).parent().find('.zsd_bt').attr('klid');
                $('.sub_kl_id_'+id).toggle('blind');
            });

        },

        testCollect:function(){
            $.get(U('TestCollect/returnKlInfo'),{times:Math.random()}, function (e) {
                if (e.status !== 1) {
                    $('#s_collect .list_zsd').html(e.data);
                } else {
                    var str = '';
                    $.each(e.data,function(i,k){
                        //判断是否有下级知识点
                        var ico = k.sub?'ico_zd_01':'ico_zd_03';
                        var an = '',url = 'javascript:;';
                        if(k.amount == 0){
                            an = 'an02hs';
                        }else{
                            url = U('TestCollect/testList?id='+ k.klID);
                        }
                        str += '<li><a class="ico_zd '+ico+' fl"></a><div klid="'+ k.klID+'" class="zsd_bt fl" style="cursor: pointer">'+ k.klName+
                                '<span class="zsd_tj">(共收藏 '+ k.amount+' 道题)</span></div>'+
                                '<div class="an_box fr" klid="'+ k.klID+'"><a class="an02 '+an+'" href="'+ url +'"><span class="an_left"></span>'+
                                '<span class="an_cen">查看题目</span><span class="an_right"></span></a></div></li>';
                        if(k.sub){
                            $.each(k.sub,function(j,m){
                                var an = '',url = 'javascript:;';
                                if(m.amount == 0){
                                    an = 'an02hs';
                                }else{
                                    url = U('TestCollect/testList?id='+ m.klID);
                                }
                                str += '<li class="lidj02 sub_kl_id_'+ k.klID+'" style="display: none;"><a class="ico_zd ico_zd_03 fl"></a><div class="zsd_bt fl">'+ m.klName+
                                        '<span class="zsd_tj">(共收藏 '+ m.amount+' 道题)</span></div>'+
                                        '<div class="an_box fr" klid="'+ m.klID+'"><a class="an02 '+an+'" href="'+ url +'"><span class="an_left"></span>'+
                                        '<span class="an_cen">查看题目</span><span class="an_right"></span></a></div></li>';
                            });
                        }
                    });
                    $('#s_collect .list_zsd').html(str);
                }
            });
            $('#s_collect').off('click').on('click','.zsd_bt,.ico_zd',function(){
                $(this).parent().find('.ico_zd_01').switchClass('ico_zd_01','ico_zd_02',1);
                $(this).parent().find('.ico_zd_02').switchClass('ico_zd_02','ico_zd_01',1);
                var id = $(this).parent().find('.zsd_bt').attr('klid');
                $('.sub_kl_id_'+id).toggle('blind');
            });

        },
        recordAjax:function(p) {
            $.ajax({
                type:'POST',
                url:U('ExerciseRecord/returnRecordInfo'),
                data:{'p':p,times:Math.random()},
                success:function(e){
                    if (e.status != 1) {
                        $('#s_record .list_stlb01').html(e.data);
                        $('#s_record .pagination').hide();
                    } else {
                        var list = '';
                        $.each(e.data.list, function (i, k) {
                            var a;
                            if (k.Score == -1) {
                                a = '<a class="an01 fr mr5" href="'+U("Exercise/index","id=" + k.TestID )+ '"><span class="an_left"></span><span class="an_cen">继续测试</span><span class="an_right"></span></a>';
                            } else {
                                a = '<a class="an02 fr mr5" href="'+U("ExerciseReport/index?id=" + k.TestID) + '"><span class="an_left"></span><span class="an_cen">查看报告</span><span class="an_right"></span></a>';
                            }
                            var testName = '';
                            if(k.DocName){
                                testName = '[ '+ k.DocName+' ]';
                            }
                            if(k.TestRecordName){
                                testName = '[ '+ k.TestRecordName+' ]';
                            }
                            list += '<li><div class="st_bt_box fl">'+
                                    '<div class="st_bt">'+ k.Style+testName+'</div>'+
                                    '<p>测试时间：' + k.LoadTime + '&nbsp;&nbsp;答题情况：[正确' + k.RightAmount +'/总数' + k.AllAmount + ']&nbsp;&nbsp;'+
                                    '测试分数：' + (k.Score == -1 ? '暂无' : k.Score) + '&nbsp;&nbsp;耗时：' + k.RealTime + '分钟</p>'+
                                    '</div><div class="an_box fr">'+a+
                                    '</div></li>';
                        });
                        $('#s_record .list_stlb01').html(list);
                        $('#s_record .pagination').html(e.data.show);
                    }
                }
            });
        },
        //返回TOP
        goTop:function(){
            var bottom = $(document).height()-$(window).height()-107;
            $('#db_dh_box').css({'bottom':bottom,'_bottom':bottom}).show();
            $(window).resize(function(){
                bottom = $(document).height()-$(window).height()-107;
                bottom = bottom>0?bottom:0;
                $('#db_dh_box').css({'bottom':bottom,'_bottom':bottom}).show();
            });
            $(window).scroll(function(){
                bottom = $(document).height()-$(window).height()-107-$(window).scrollTop();
                bottom = bottom>0?bottom:0;
                $('#db_dh_box').css({'bottom':bottom,'_bottom':bottom}).show();
            });
            //页面滚动
            $('#db_dh_box .an_go_top').click(function(){$('html,body').animate({scrollTop : 0}, 300);});
        }
    };
    AatMyExercise.init();

});

</script>
</body>
</html>
