<div class="footer-wrap">
    <div class="footer-box clearfix w1000">
        <div class="footer-info">
            <a href="{#:U('Index/About/knowMe',array('param'=>'knowMeIntro'))#}" target="_blank">关于我们</a>
            |
            <a href="{#:U('Index/About/about',array('param'=>'aboutPrivacy'))#}" target="_blank">隐私条款</a>
            |
            <a href="{#:U('Index/About/about',array('param'=>'aboutRecruit'))#}" target="_blank">人才招聘</a>
            |
            <a href="{#:U('Index/About/leaveMess')#}">留言反馈</a>
            |
            <a href="{#:U('Index/About/about',array('param'=>'aboutFriendLinkl'))#}" target="_blank">友情链接</a>
            |
            <a href="{#:U('Index/About/about',array('param'=>'aboutOnlineS'))#}" target="_blank">联系我们</a>

            | {#$Think.config.WLN_STATISTICAL_CODE.INDEX#}<br>
            <cite>©</cite> 2017 智慧云题库云平台 All rights reserved | 增值电信业务经营许可证：<a href="http://www.miitbeian.gov.cn/">{#$Think.config.WLN_KEEP_VERSION#}</a>
            |
            <a class="anbei" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41127801237013">豫公网安备 37165433002002号</a>
        </div>
        <div class="anquan right" style="display:none">
            <a target="_blank" key="56569cbdefbfb058f9d81d7e" logo_size="83x30" logo_type="business" href="http://www.anquan.org/authenticate/cert/?site=www.tk.com&amp;at=business"><img alt="安全联盟认证" style="border: medium none;" src="http://static.anquan.org/static/outer/image/hy_83x30.png" height="30" width="83"></a>
        </div>
        <div class="fb-contact">
            <a href="{#:U('Index/About/leaveMess')#}" target="_blank">
                <i class="iconfont">&#xe60a;</i>
            </a>
            <a href="{#:U('Index/About/about')#}" target="_blank">
                <i class="iconfont">&#xe61f;</i>
            </a>
            <a href="http://weibo.com/tk" target="_blank">
                <i class="iconfont">&#xe601;</i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/plugin/jquery-1.8.0.min.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/jquery.cookie.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/wlnBase.js{#$Think.config.WLN_UPDATE_FILE_DATE#}"></script>
</body>
</html>