<!--顶部导航-->
<div class="top-logo-wrap w1000">
    <a class="top-logo" href="/">
        <img src="__PUBLIC__/index/imgs/publ/logo.png" alt="logo"/>
    </a>
</div>
<div class="top-nav-fixed">
    <div class="top-nav-wrap">
        <div class="top-nav w1000">
            <a class="top-nav-item" href="/">首页</a>
            <span class="top-nav-item">
                <a class="tn-link" href="{#:U('/Home')#}">组卷</a>
            </span>
            <span class="top-nav-item">
                <a class="tn-link" href="{#:U('/Aat')#}">提分</a>
            </span>
			<span class="top-nav-item">
                <a class="tn-link" href="{#:U('User/Index/passport/url/Statistics')#}">教学统计</a>
            </span>
        </div>
    </div>
</div>
<!--顶部导航-end-->