<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {#include file="Common:head"/#}
    <link href="__PUBLIC__/newAat/css/index.css{#:C(WLN_UPDATE_FILE_DATE)#}" rel="stylesheet" type="text/css"/>
</head>
<body style="min-height:100%;height:100%;">
<div id="wrapper">
    {#include file="DefaultCommon:header"/#}
    <!--修改密码框-->
    <div class="box01 set_password_box">
        <div class="top"></div>
        <div class="zj">
            <div class="bd">
                <form>
                    <fieldset>
                        <input type="text" readonly="readonly" class="wbk01 s_username" value="{#$userName#}"/>
                        <input type="hidden" value="{#$userID#}" id="uid" />
                        <input type="hidden" class="s_code" value="{#$code#}"/>
                        <input type="password" placeholder="重设6-18位密码" class="wbk01 s_password" value=""/>
                        <input type="password" placeholder="重复密码" class="wbk01 s_r_password" value=""/>
                        <input type="text" placeholder="验证码" class="wbk01 s_verify" value=""/>
                        <img alt="验证码" title="点击刷新验证码" src="{#:U('Default/verify')#}" class="verify_image">
                        <div class="error_msg" style="color: #b40504;margin-top: 5px;display: none;"></div>
                        <div class="submit_msg" style="color: #FFFFFF;margin-top: 5px;display: none;">正在验证请稍候...</div>
                        <div class="an03 pt20 s_submit"><a href="javascript:;">修改密码</a></div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="bot"><img src="__PUBLIC__/newAat/images/box01_bot_01.png"/></div>
    </div>
    <!--页面尾部footer-->
    <div id="footer">
        {#include file="Common:footer"/#}
    </div>
</div>
<!--显示Msg信息-->
<div class="box02" id="s_msg" style="display: none;">
    <div class="top">
        <div class="top_left fl"></div>
        <div class="top_cen fc" style="font-size: 18px;text-align: center;width: 312px;"><font face="微软雅黑">提示信息</font></div>
        <div class="top_right fr"></div>
    </div>
    <div class="zj">
        <div style="margin: 0 auto;width: 277px;padding-top: 10px;">
            <div class="msg" style="font-size: 16px; line-height: 26px; color: #555555;text-align: center;"></div>
            <fieldset class="actions">
                <input type="button" id="submit01" value="确 定">
            </fieldset>
        </div>

    </div>
    <div class="bot">
        <div class="bot_left fl"></div>
        <div class="bot_cen fc" style="width: 312px;"></div>
        <div class="bot_right fr"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //初始化页面消息
        init();
        $('input[placeholder]').placeholder();
    });
    function init(){
        //初始化错误信息
        _showMsg();
        //点击刷新验证码
        $('.verify_image').on('click',function () {
            $(this).attr('src', U('Default/verify','v='+Math.random()));
        });
        //回车键登录
        $('.s_verify').on('keydown',function(e){
            if(e.keyCode==13) $('.s_submit').trigger('click');
        });
        //登录验证
        $('.s_submit').on('click',function(){
            var userID = $('#uid').val();
            var code=$('.s_code').val();
            var password = $('.s_password').val();
            var r_password = $('.s_r_password').val();
            var verify = $('.s_verify').val();
            var password_reg = /^\S{6,18}$/;
            var verify_reg = /^\d{4}$/
            if(!password_reg.test(password)){
                $('.set_password_box .error_msg').html('密码必须是6-18位字符！').show().effect('shake');
                return false;
            }
            if(password !== r_password){
                $('.set_password_box .error_msg').html('两次输入的密码不一致！').show().effect('shake');
                return false;
            }
            if(!verify_reg.test(verify)){
                $('.set_password_box .error_msg').html('验证码必须为4位数字！').show().effect('shake');
                return false;
            }
            $('.set_password_box .submit_msg').show();
            $.post(U('Default/resetPassword'),{'userID':userID,'token':code,'password':password,'r_password':r_password,'verify':verify},function(e){
                $('.set_password_box .submit_msg').hide();
                if(e.status==1){
                    AatCommon.setMsg('密码已经修改，请登录！');
                    location.href=U('Default/index');
                }else{
                    $('.set_password_box .error_msg').html(e.data).show().effect('shake');
                }
            });
        });
    }
    //对话框函数
    function _box(select,show,options){
        options = arguments[2]?arguments[2]:{width:728,height:432};
        var w_width,w_height,left,top;
        if(show){
            _modalDiv(true);
            w_width = $(window).width();
            w_height = $(window).height();
            left = (w_width-options.width)/2;
            top = (w_height-options.height)/2;
            $(select).css({'z-index':99,'position':'absolute','left':left,'top':top});
            $(select).show('drop',{'direction':'up'},400);
            //窗口大小改变时调整位置
            $(window).resize(function(){
                w_width = $(window).width();
                w_height = $(window).height();
                left = (w_width-options.width)/2;
                top = (w_height-options.height)/2;
                $(select).css({'z-index':99,'position':'absolute','left':left,'top':top});
            });
        }else{
            $(select).hide('drop',{'direction':'up'},400);
            _modalDiv(false);
        }
    }
    //屏蔽层函数
    function _modalDiv(show){
        var div = '<div id="modal_div" style="position: absolute;top:0;left: 0;background: #000000;filter:Alpha(opacity=60);opacity: 0.6;width: 100%;height: 100%;z-index: 98;"></div> ';
        if(show){
            $('#wrapper').append(div);
        }else{
            $('#modal_div').remove();
        }
    }
    //显示首页信息
    function _showMsg(){
        var msg = AatCommon.getMsg();
        if(msg){
            $('#s_msg .msg').html(msg);
            _box('#s_msg',true,{width:328,height:190});
            AatCommon.setMsg(null);
        }
        $('#s_msg #submit01').click(function(){
            _box('#s_msg',false);
        });
    }

</script>
</body>

</html>
