{#// 加载头部公共文件 #}
{#include file="Manage@Public/header" /#}
<!-- 主页面开始 -->
<div id="main" class="main" >
<!-- 主体内容  -->
<div class="content" >
<div class="title">用户统计 <a href="{#:U('Statistics/StatisticsB/User',array('clearCache'=>1))#}">清除缓存</a> [ <A HREF="javascript:history.go(-1);">返回上一页</A> ]</div>
<!--  功能操作区域  -->
<!-- 功能操作区域结束 -->

<!-- 列表显示区域  -->
<div class="list" >
<div id="result" class="result none"></div>
<!-- Think 系统列表组件开始 -->
<table id="checkList" class="list" cellpadding="5" cellspacing="0" border="1">
    <tr><td height="5" colspan="10" class="topTd" ></td></tr>
    <tr class="row" >
        <th width="4%">统计指标</th>
        <th width="8%">上周</th>
        <th width="8%">本周</th>
        <th width="8%">增量</th>
        <th width="8%">单位</th>
    </tr>
    {#volist name="list" id="node" #}    
        <tr class="row lists" jl=''>
            <td>{#$node[0]#}</td>
            <td>{#$node[1]#}</td>
            <td>{#$node[2]#}</td>
            <td>{#$node[3]#}</td>
            <td>{#$node[4]#}</td>
        </tr>
    {#/volist#}
    <tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</table>
<!-- Think 系统列表组件结束 -->
</div>
<!-- 列表显示区域结束 -->
</div>
<!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->
{#// 加载尾部公共文件 #}
{#include file="Manage@Public/ends" /#}